## Base16 Rosé Pine Moon
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#232136
text-color=#e0def4
border-color=#9ccfd8

[urgency=low]
background-color=#232136
text-color=#f6c177
border-color=#9ccfd8

[urgency=high]
background-color=#232136
text-color=#ecebf0
border-color=#9ccfd8
