## Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#191724
text-color=#e0def4
border-color=#c4a7e7

[urgency=low]
background-color=#191724
text-color=#ebbcba
border-color=#c4a7e7

[urgency=high]
background-color=#191724
text-color=#eb6f92
border-color=#c4a7e7
