## Base16 Solar Flare Light
# Author: Chuck Harmston (https://chuck.harmston.ch)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#F5F7FA
text-color=#586875
border-color=#33B5E1

[urgency=low]
background-color=#F5F7FA
text-color=#E4B51C
border-color=#33B5E1

[urgency=high]
background-color=#F5F7FA
text-color=#EF5253
border-color=#33B5E1
