## Base16 Windows NT Light
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#ffffff
text-color=#808080
border-color=#000080

[urgency=low]
background-color=#ffffff
text-color=#808000
border-color=#000080

[urgency=high]
background-color=#ffffff
text-color=#800000
border-color=#000080
