## Base16 Equilibrium Dark
# Author: Carlo Abelli
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0c1118
text-color=#afaba2
border-color=#008dd1

[urgency=low]
background-color=#0c1118
text-color=#bb8801
border-color=#008dd1

[urgency=high]
background-color=#0c1118
text-color=#f04339
border-color=#008dd1
