## Base16 Sakura
# Author: Misterio77 (http://github.com/Misterio77)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#feedf3
text-color=#564448
border-color=#006e93

[urgency=low]
background-color=#feedf3
text-color=#c29461
border-color=#006e93

[urgency=high]
background-color=#feedf3
text-color=#df2d52
border-color=#006e93
