## Base16 Spaceduck
# Author: Guillermo Rodriguez (pineapplegiant)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#686f9a
border-color=#00a3cc

[urgency=low]
background-color=#000000
text-color=#b3a1e6
border-color=#00a3cc

[urgency=high]
background-color=#000000
text-color=#e33400
border-color=#00a3cc
