## Base16 vulcan
# Author: Andrey Varfolomeev
#
# You can use these variables anywhere in the mako configuration file.

background-color=#041523
text-color=#5b778c
border-color=#977d7c

[urgency=low]
background-color=#041523
text-color=#adb4b9
border-color=#977d7c

[urgency=high]
background-color=#041523
text-color=#818591
border-color=#977d7c
