## Base16 Equilibrium Gray Dark
# Author: Carlo Abelli
#
# You can use these variables anywhere in the mako configuration file.

background-color=#111111
text-color=#ababab
border-color=#008dd1

[urgency=low]
background-color=#111111
text-color=#bb8801
border-color=#008dd1

[urgency=high]
background-color=#111111
text-color=#f04339
border-color=#008dd1
