## Base16 Rosé Pine Moon
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#232136
text-color=#e0def4
border-color=#c4a7e7

[urgency=low]
background-color=#232136
text-color=#ea9a97
border-color=#c4a7e7

[urgency=high]
background-color=#232136
text-color=#eb6f92
border-color=#c4a7e7
