## Base16 Equilibrium Light
# Author: Carlo Abelli
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f5f0e7
text-color=#43474e
border-color=#0073b5

[urgency=low]
background-color=#f5f0e7
text-color=#9d6f00
border-color=#0073b5

[urgency=high]
background-color=#f5f0e7
text-color=#d02023
border-color=#0073b5
