## Base16 Tango
# Author: @Schnouki, based on the Tango Desktop Project
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2e3436
text-color=#d3d7cf
border-color=#3465a4

[urgency=low]
background-color=#2e3436
text-color=#c4a000
border-color=#3465a4

[urgency=high]
background-color=#2e3436
text-color=#cc0000
border-color=#3465a4
