## Base16 Windows 10 Light
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f2f2f2
text-color=#767676
border-color=#0037da

[urgency=low]
background-color=#f2f2f2
text-color=#c19c00
border-color=#0037da

[urgency=high]
background-color=#f2f2f2
text-color=#c50f1f
border-color=#0037da
