## Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#191724
text-color=#e0def4
border-color=#9ccfd8

[urgency=low]
background-color=#191724
text-color=#f6c177
border-color=#9ccfd8

[urgency=high]
background-color=#191724
text-color=#e2e1e7
border-color=#9ccfd8
