## Base16 pinky
# Author: Benjamin (https://github.com/b3nj5m1n)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#171517
text-color=#f5f5f5
border-color=#00ffff

[urgency=low]
background-color=#171517
text-color=#20df6c
border-color=#00ffff

[urgency=high]
background-color=#171517
text-color=#ffa600
border-color=#00ffff
