## Base16 DanQing
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2d302f
text-color=#e0f0eF
border-color=#B0A4E3

[urgency=low]
background-color=#2d302f
text-color=#F0C239
border-color=#B0A4E3

[urgency=high]
background-color=#2d302f
text-color=#F9906F
border-color=#B0A4E3
