## Base16 summercamp
# Author: zoe firi (zoefiri.github.io)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1c1810
text-color=#736e55
border-color=#489bf0

[urgency=low]
background-color=#1c1810
text-color=#f2ff27
border-color=#489bf0

[urgency=high]
background-color=#1c1810
text-color=#e35142
border-color=#489bf0
