## Base16 Windows 10
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0c0c0c
text-color=#cccccc
border-color=#3b78ff

[urgency=low]
background-color=#0c0c0c
text-color=#f9f1a5
border-color=#3b78ff

[urgency=high]
background-color=#0c0c0c
text-color=#e74856
border-color=#3b78ff
