## Base16 Nebula
# Author: Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#22273b
text-color=#a4a6a9
border-color=#4d6bb6

[urgency=low]
background-color=#22273b
text-color=#4f9062
border-color=#4d6bb6

[urgency=high]
background-color=#22273b
text-color=#777abc
border-color=#4d6bb6
