## Base16 Vice Alt
# Author: Thomas Leon Highbaugh
#
# You can use these variables anywhere in the mako configuration file.

background-color=#303030
text-color=#d7afff
border-color=#afffff

[urgency=low]
background-color=#303030
text-color=#ffffaf
border-color=#afffff

[urgency=high]
background-color=#303030
text-color=#ff005f
border-color=#afffff
