## Base16 Silk Dark
# Author: Gabriel Fontes (https://github.com/Misterio77)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#0e3c46
text-color=#C7DBDD
border-color=#46bddd

[urgency=low]
background-color=#0e3c46
text-color=#fce380
border-color=#46bddd

[urgency=high]
background-color=#0e3c46
text-color=#fb6953
border-color=#46bddd
