## Base16 Rosé Pine Dawn
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
#
# You can use these variables anywhere in the mako configuration file.

background-color=#faf4ed
text-color=#575279
border-color=#907aa9

[urgency=low]
background-color=#faf4ed
text-color=#d7827e
border-color=#907aa9

[urgency=high]
background-color=#faf4ed
text-color=#b4637a
border-color=#907aa9
