## Base16 Humanoid dark
# Author: Thomas (tasmo) Friese
#
# You can use these variables anywhere in the mako configuration file.

background-color=#232629
text-color=#f8f8f2
border-color=#00a6fb

[urgency=low]
background-color=#232629
text-color=#ffb627
border-color=#00a6fb

[urgency=high]
background-color=#232629
text-color=#f11235
border-color=#00a6fb
