## Base16 Atlas
# Author: Alex Lende (https://ajlende.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#002635
text-color=#a1a19a
border-color=#14747e

[urgency=low]
background-color=#002635
text-color=#ffcc1b
border-color=#14747e

[urgency=high]
background-color=#002635
text-color=#ff5a67
border-color=#14747e
