## Base16 Windows NT
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#c0c0c0
border-color=#0000ff

[urgency=low]
background-color=#000000
text-color=#ffff00
border-color=#0000ff

[urgency=high]
background-color=#000000
text-color=#ff0000
border-color=#0000ff
