## Base16 Apprentice
# Author: romainl
#
# You can use these variables anywhere in the mako configuration file.

background-color=#262626
text-color=#BCBCBC
border-color=#FFFFAF

[urgency=low]
background-color=#262626
text-color=#5F8787
border-color=#FFFFAF

[urgency=high]
background-color=#262626
text-color=#5F8787
border-color=#FFFFAF
