## Base16 Windows High Contrast Light
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fcfcfc
text-color=#545454
border-color=#000080

[urgency=low]
background-color=#fcfcfc
text-color=#808000
border-color=#000080

[urgency=high]
background-color=#fcfcfc
text-color=#800000
border-color=#000080
