## Base16 Qualia
# Author: isaacwhanson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#101010
text-color=#C0C0C0
border-color=#50CACD

[urgency=low]
background-color=#101010
text-color=#E6A3DC
border-color=#50CACD

[urgency=high]
background-color=#101010
text-color=#EFA6A2
border-color=#50CACD
