## Base16 Apprentice
# Author: romainl
#
# You can use these variables anywhere in the mako configuration file.

background-color=#262626
text-color=#5F5F87
border-color=#8787AF

[urgency=low]
background-color=#262626
text-color=#87AF87
border-color=#8787AF

[urgency=high]
background-color=#262626
text-color=#444444
border-color=#8787AF
