## Base16 Synth Midnight Terminal Light
# Author: Michaël Ball (http://github.com/michael-ball/)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#dddfe0
text-color=#28292a
border-color=#03aeff

[urgency=low]
background-color=#dddfe0
text-color=#c9d364
border-color=#03aeff

[urgency=high]
background-color=#dddfe0
text-color=#b53b50
border-color=#03aeff
