## Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#222222
text-color=#DEDEE7
border-color=#537C9C

[urgency=low]
background-color=#222222
text-color=#D8B56D
border-color=#537C9C

[urgency=high]
background-color=#222222
text-color=#C88C8C
border-color=#537C9C
