## Base16 darkmoss
# Author: Gabriel Avanzi (https://github.com/avanzzzi)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#171e1f
text-color=#c7c7a5
border-color=#498091

[urgency=low]
background-color=#171e1f
text-color=#fdb11f
border-color=#498091

[urgency=high]
background-color=#171e1f
text-color=#ff4658
border-color=#498091
