## Base16 Vice Alt
# Author: Thomas Leon Highbaugh
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1b1d24
text-color=#555e70
border-color=#2fb1d4

[urgency=low]
background-color=#1b1d24
text-color=#ffff73
border-color=#2fb1d4

[urgency=high]
background-color=#1b1d24
text-color=#ff3d81
border-color=#2fb1d4
