## Base16 DanQing Light
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fcfefd
text-color=#5a605d
border-color=#B0A4E3

[urgency=low]
background-color=#fcfefd
text-color=#F0C239
border-color=#B0A4E3

[urgency=high]
background-color=#fcfefd
text-color=#F9906F
border-color=#B0A4E3
