## Base16 Humanoid light
# Author: Thomas (tasmo) Friese
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f8f8f2
text-color=#232629
border-color=#0082c9

[urgency=low]
background-color=#f8f8f2
text-color=#ffb627
border-color=#0082c9

[urgency=high]
background-color=#f8f8f2
text-color=#b0151a
border-color=#0082c9
