## Base16 Dark Violet
# Author: ruler501 (https://github.com/ruler501/base16-darkviolet)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#b08ae6
border-color=#4136d9

[urgency=low]
background-color=#000000
text-color=#f29df2
border-color=#4136d9

[urgency=high]
background-color=#000000
text-color=#a82ee6
border-color=#4136d9
