## Base16 Sagelight
# Author: Carter Veldhuizen
#
# You can use these variables anywhere in the mako configuration file.

background-color=#f8f8f8
text-color=#383838
border-color=#a0a7d2

[urgency=low]
background-color=#f8f8f8
text-color=#ffdc61
border-color=#a0a7d2

[urgency=high]
background-color=#f8f8f8
text-color=#fa8480
border-color=#a0a7d2
