## Base16 Windows 95 Light
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#fcfcfc
text-color=#545454
border-color=#0000a8

[urgency=low]
background-color=#fcfcfc
text-color=#a85400
border-color=#0000a8

[urgency=high]
background-color=#fcfcfc
text-color=#a80000
border-color=#0000a8
