## Base16 Windows 95
# Author: Fergus Collins (https://github.com/C-Fergus)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#a8a8a8
border-color=#5454fc

[urgency=low]
background-color=#000000
text-color=#fcfc54
border-color=#5454fc

[urgency=high]
background-color=#000000
text-color=#fc5454
border-color=#5454fc
