## Base16 srcery
# Author: 
#
# You can use these variables anywhere in the mako configuration file.

background-color=#1C1B19
text-color=#BAA67F
border-color=#2C78BF

[urgency=low]
background-color=#1C1B19
text-color=#FBB829
border-color=#2C78BF

[urgency=high]
background-color=#1C1B19
text-color=#EF2F27
border-color=#2C78BF
