## Base16 dirtysea
# Author: Kahlil (Kal) Hodgson
#
# You can use these variables anywhere in the mako configuration file.

background-color=#e0e0e0
text-color=#000000
border-color=#007300

[urgency=low]
background-color=#e0e0e0
text-color=#755B00
border-color=#007300

[urgency=high]
background-color=#e0e0e0
text-color=#840000
border-color=#007300
