## Base16 Rigel
# Author: Alexander Keliris
#
# You can use these variables anywhere in the mako configuration file.

background-color=#00384d
text-color=#77929e
border-color=#1c8db2

[urgency=low]
background-color=#00384d
text-color=#f08e48
border-color=#1c8db2

[urgency=high]
background-color=#00384d
text-color=#c43061
border-color=#1c8db2
