/*
Base16 Vice Dark
Scheme author: Thomas Leon Highbaugh
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #181818;
@define-color fg_color #818181;
@define-color base_color #222222;
@define-color text_color #818181;
@define-color text_color_disabled #3f3f3f;
@define-color selected_bg_color #323232;
@define-color selected_fg_color #818181;
@define-color tooltip_bg_color #181818;
@define-color tooltip_fg_color #818181;
