/*
Base16 Vice Alt
Scheme author: Thomas Leon Highbaugh
Template author: Tinted Theming (https://github.com/tinted-theming)
In files gtk-3.0/gtk.css and gtk-3.20/gtk.css, delete section "Default color scheme" and inject this
*/

@define-color bg_color #303030;
@define-color fg_color #d7afff;
@define-color base_color #444444;
@define-color text_color #d7afff;
@define-color text_color_disabled #875faf;
@define-color selected_bg_color #878787;
@define-color selected_fg_color #d7afff;
@define-color tooltip_bg_color #303030;
@define-color tooltip_fg_color #d7afff;
