/*
*
* Base16 Vice Alt
* Author: Thomas Leon Highbaugh
*
*/

@define-color base00 #303030;
@define-color base01 #444444;
@define-color base02 #878787;
@define-color base03 #875faf;
@define-color base04 #afafd7;
@define-color base05 #d7afff;
@define-color base06 #ffffff;
@define-color base07 #afffd7;
@define-color base08 #ff005f;
@define-color base09 #ff00ff;
@define-color base0A #ffffaf;
@define-color base0B #87ffff;
@define-color base0C #00ffaf;
@define-color base0D #afffff;
@define-color base0E #d7afff;
@define-color base0F #ff87d7;
