/*
*
* Base16 Vice Dark
* Author: Thomas Leon Highbaugh
*
*/

@define-color base00 #181818;
@define-color base01 #222222;
@define-color base02 #323232;
@define-color base03 #3f3f3f;
@define-color base04 #666666;
@define-color base05 #818181;
@define-color base06 #c6c6c6;
@define-color base07 #e9e9e9;
@define-color base08 #ff29a8;
@define-color base09 #85ffe0;
@define-color base0A #f0ffaa;
@define-color base0B #0badff;
@define-color base0C #8265ff;
@define-color base0D #00eaff;
@define-color base0E #00f6d9;
@define-color base0F #ff3d81;
