/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Vice Dark scheme by Thomas Leon Highbaugh */

window {
	background-color: #181818;
	color: #818181;
}

#entry:nth-child(odd) {
	background-color: #181818;
}

#entry:nth-child(even) {
	background-color: #222222;
}

#entry:selected {
	background-color: #323232;
}

#input {
	background-color: #222222;
	color: #666666;
	border-color: #323232; 
}

#input:focus {
	border-color: #f0ffaa; 
}
