/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Silk Dark scheme by Gabriel Fontes (https://github.com/Misterio77) */

window {
	background-color: #0e3c46;
	color: #C7DBDD;
}

#entry:nth-child(odd) {
	background-color: #0e3c46;
}

#entry:nth-child(even) {
	background-color: #1D494E;
}

#entry:selected {
	background-color: #2A5054;
}

#input {
	background-color: #1D494E;
	color: #9DC8CD;
	border-color: #2A5054; 
}

#input:focus {
	border-color: #fce380; 
}
