/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Vice Alt scheme by Thomas Leon Highbaugh */

window {
	background-color: #303030;
	color: #d7afff;
}

#entry:nth-child(odd) {
	background-color: #303030;
}

#entry:nth-child(even) {
	background-color: #444444;
}

#entry:selected {
	background-color: #878787;
}

#input {
	background-color: #444444;
	color: #afafd7;
	border-color: #878787; 
}

#input:focus {
	border-color: #ffffaf; 
}
