/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Apprentice scheme by romainl */

window {
	background-color: #262626;
	color: #5F5F87;
}

#entry:nth-child(odd) {
	background-color: #262626;
}

#entry:nth-child(even) {
	background-color: #AF5F5F;
}

#entry:selected {
	background-color: #5F875F;
}

#input {
	background-color: #AF5F5F;
	color: #5F87AF;
	border-color: #5F875F; 
}

#input:focus {
	border-color: #87AF87; 
}
