/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * srcery scheme by  */

window {
	background-color: #1C1B19;
	color: #BAA67F;
}

#entry:nth-child(odd) {
	background-color: #1C1B19;
}

#entry:nth-child(even) {
	background-color: #98BC37;
}

#entry:selected {
	background-color: #FED06E;
}

#input {
	background-color: #98BC37;
	color: #68A8E4;
	border-color: #FED06E; 
}

#input:focus {
	border-color: #FBB829; 
}
