## Base16 Vice Alt
# Author: Thomas Leon Highbaugh

set $base00 #1c1c1c
set $base01 #282828
set $base02 #2c2c2c
set $base03 #323232
set $base04 #3c3c3c
set $base05 #555555
set $base06 #b6b6b6
set $base07 #d1d1d1
set $base08 #ff3d81
set $base09 #F67544
set $base0A #ffff73
set $base0B #44ffdd
set $base0C #00caff
set $base0D #2fb1d4
set $base0E #8265ff
set $base0F #F83D80
