## Base16 Apprentice
# Author: romainl

set $base00 #262626
set $base01 #AF5F5F
set $base02 #5F875F
set $base03 #87875F
set $base04 #5F87AF
set $base05 #5F5F87
set $base06 #5F8787
set $base07 #6C6C6C
set $base08 #444444
set $base09 #FF8700
set $base0A #87AF87
set $base0B #FFFFAF
set $base0C #87AFD7
set $base0D #8787AF
set $base0E #5FAFAF
set $base0F #BCBCBC
