## Base16 Vice Alt
# Author: Thomas Leon Highbaugh

set $base00 #303030
set $base01 #444444
set $base02 #878787
set $base03 #875faf
set $base04 #afafd7
set $base05 #d7afff
set $base06 #ffffff
set $base07 #afffd7
set $base08 #ff005f
set $base09 #ff00ff
set $base0A #ffffaf
set $base0B #87ffff
set $base0C #00ffaf
set $base0D #afffff
set $base0E #d7afff
set $base0F #ff87d7
