.base00 { color: #271C3A; }
.base01 { color: #100323; }
.base02 { color: #3E2D5C; }
.base03 { color: #5D5766; }
.base04 { color: #BEBCBF; }
.base05 { color: #DEDCDF; }
.base06 { color: #EDEAEF; }
.base07 { color: #BBAADD; }
.base08 { color: #A92258; }
.base09 { color: #918889; }
.base0A { color: #804ead; }
.base0B { color: #C6914B; }
.base0C { color: #7263AA; }
.base0D { color: #8E7DC6; }
.base0E { color: #953B9D; }
.base0F { color: #59325C; }

.base00-background { background-color: #271C3A; }
.base01-background { background-color: #100323; }
.base02-background { background-color: #3E2D5C; }
.base03-background { background-color: #5D5766; }
.base04-background { background-color: #BEBCBF; }
.base05-background { background-color: #DEDCDF; }
.base06-background { background-color: #EDEAEF; }
.base07-background { background-color: #BBAADD; }
.base08-background { background-color: #A92258; }
.base09-background { background-color: #918889; }
.base0A-background { background-color: #804ead; }
.base0B-background { background-color: #C6914B; }
.base0C-background { background-color: #7263AA; }
.base0D-background { background-color: #8E7DC6; }
.base0E-background { background-color: #953B9D; }
.base0F-background { background-color: #59325C; }
