.base00 { color: #232136; }
.base01 { color: #2a273f; }
.base02 { color: #393552; }
.base03 { color: #59546d; }
.base04 { color: #817c9c; }
.base05 { color: #e0def4; }
.base06 { color: #f5f5f7; }
.base07 { color: #d9d7e1; }
.base08 { color: #ecebf0; }
.base09 { color: #eb6f92; }
.base0A { color: #f6c177; }
.base0B { color: #ea9a97; }
.base0C { color: #3e8fb0; }
.base0D { color: #9ccfd8; }
.base0E { color: #c4a7e7; }
.base0F { color: #b9b9bc; }

.base00-background { background-color: #232136; }
.base01-background { background-color: #2a273f; }
.base02-background { background-color: #393552; }
.base03-background { background-color: #59546d; }
.base04-background { background-color: #817c9c; }
.base05-background { background-color: #e0def4; }
.base06-background { background-color: #f5f5f7; }
.base07-background { background-color: #d9d7e1; }
.base08-background { background-color: #ecebf0; }
.base09-background { background-color: #eb6f92; }
.base0A-background { background-color: #f6c177; }
.base0B-background { background-color: #ea9a97; }
.base0C-background { background-color: #3e8fb0; }
.base0D-background { background-color: #9ccfd8; }
.base0E-background { background-color: #c4a7e7; }
.base0F-background { background-color: #b9b9bc; }
