.base00 { color: #00384d; }
.base01 { color: #9cf087; }
.base02 { color: #ffcc1b; }
.base03 { color: #517f8d; }
.base04 { color: #7eb2dd; }
.base05 { color: #77929e; }
.base06 { color: #fb94ff; }
.base07 { color: #e6e6dc; }
.base08 { color: #c43061; }
.base09 { color: #ff5a67; }
.base0A { color: #f08e48; }
.base0B { color: #7fc06e; }
.base0C { color: #00cccc; }
.base0D { color: #1c8db2; }
.base0E { color: #c694ff; }
.base0F { color: #00ffff; }

.base00-background { background-color: #00384d; }
.base01-background { background-color: #9cf087; }
.base02-background { background-color: #ffcc1b; }
.base03-background { background-color: #517f8d; }
.base04-background { background-color: #7eb2dd; }
.base05-background { background-color: #77929e; }
.base06-background { background-color: #fb94ff; }
.base07-background { background-color: #e6e6dc; }
.base08-background { background-color: #c43061; }
.base09-background { background-color: #ff5a67; }
.base0A-background { background-color: #f08e48; }
.base0B-background { background-color: #7fc06e; }
.base0C-background { background-color: #00cccc; }
.base0D-background { background-color: #1c8db2; }
.base0E-background { background-color: #c694ff; }
.base0F-background { background-color: #00ffff; }
