.base00 { color: #1b1d24; }
.base01 { color: #282b36; }
.base02 { color: #2f303d; }
.base03 { color: #323643; }
.base04 { color: #3f4859; }
.base05 { color: #555e70; }
.base06 { color: #b2bfd9; }
.base07 { color: #f4f4f7; }
.base08 { color: #ff3d81; }
.base09 { color: #F67544; }
.base0A { color: #ffff73; }
.base0B { color: #44ffdd; }
.base0C { color: #00caff; }
.base0D { color: #2fb1d4; }
.base0E { color: #8265ff; }
.base0F { color: #ff00aa; }

.base00-background { background-color: #1b1d24; }
.base01-background { background-color: #282b36; }
.base02-background { background-color: #2f303d; }
.base03-background { background-color: #323643; }
.base04-background { background-color: #3f4859; }
.base05-background { background-color: #555e70; }
.base06-background { background-color: #b2bfd9; }
.base07-background { background-color: #f4f4f7; }
.base08-background { background-color: #ff3d81; }
.base09-background { background-color: #F67544; }
.base0A-background { background-color: #ffff73; }
.base0B-background { background-color: #44ffdd; }
.base0C-background { background-color: #00caff; }
.base0D-background { background-color: #2fb1d4; }
.base0E-background { background-color: #8265ff; }
.base0F-background { background-color: #ff00aa; }
