.base00 { color: #181818; }
.base01 { color: #222222; }
.base02 { color: #323232; }
.base03 { color: #3f3f3f; }
.base04 { color: #666666; }
.base05 { color: #818181; }
.base06 { color: #c6c6c6; }
.base07 { color: #e9e9e9; }
.base08 { color: #ff29a8; }
.base09 { color: #85ffe0; }
.base0A { color: #f0ffaa; }
.base0B { color: #0badff; }
.base0C { color: #8265ff; }
.base0D { color: #00eaff; }
.base0E { color: #00f6d9; }
.base0F { color: #ff3d81; }

.base00-background { background-color: #181818; }
.base01-background { background-color: #222222; }
.base02-background { background-color: #323232; }
.base03-background { background-color: #3f3f3f; }
.base04-background { background-color: #666666; }
.base05-background { background-color: #818181; }
.base06-background { background-color: #c6c6c6; }
.base07-background { background-color: #e9e9e9; }
.base08-background { background-color: #ff29a8; }
.base09-background { background-color: #85ffe0; }
.base0A-background { background-color: #f0ffaa; }
.base0B-background { background-color: #0badff; }
.base0C-background { background-color: #8265ff; }
.base0D-background { background-color: #00eaff; }
.base0E-background { background-color: #00f6d9; }
.base0F-background { background-color: #ff3d81; }
