.base00 { color: #191724; }
.base01 { color: #1f1d2e; }
.base02 { color: #26233a; }
.base03 { color: #555169; }
.base04 { color: #6e6a86; }
.base05 { color: #e0def4; }
.base06 { color: #f0f0f3; }
.base07 { color: #c5c3ce; }
.base08 { color: #e2e1e7; }
.base09 { color: #eb6f92; }
.base0A { color: #f6c177; }
.base0B { color: #ebbcba; }
.base0C { color: #31748f; }
.base0D { color: #9ccfd8; }
.base0E { color: #c4a7e7; }
.base0F { color: #e5e5e5; }

.base00-background { background-color: #191724; }
.base01-background { background-color: #1f1d2e; }
.base02-background { background-color: #26233a; }
.base03-background { background-color: #555169; }
.base04-background { background-color: #6e6a86; }
.base05-background { background-color: #e0def4; }
.base06-background { background-color: #f0f0f3; }
.base07-background { background-color: #c5c3ce; }
.base08-background { background-color: #e2e1e7; }
.base09-background { background-color: #eb6f92; }
.base0A-background { background-color: #f6c177; }
.base0B-background { background-color: #ebbcba; }
.base0C-background { background-color: #31748f; }
.base0D-background { background-color: #9ccfd8; }
.base0E-background { background-color: #c4a7e7; }
.base0F-background { background-color: #e5e5e5; }
