.base00 { color: #f8f8f8; }
.base01 { color: #e8e8e8; }
.base02 { color: #d8d8d8; }
.base03 { color: #b8b8b8; }
.base04 { color: #585858; }
.base05 { color: #383838; }
.base06 { color: #282828; }
.base07 { color: #181818; }
.base08 { color: #fa8480; }
.base09 { color: #ffaa61; }
.base0A { color: #ffdc61; }
.base0B { color: #a0d2c8; }
.base0C { color: #a2d6f5; }
.base0D { color: #a0a7d2; }
.base0E { color: #c8a0d2; }
.base0F { color: #d2b2a0; }

.base00-background { background-color: #f8f8f8; }
.base01-background { background-color: #e8e8e8; }
.base02-background { background-color: #d8d8d8; }
.base03-background { background-color: #b8b8b8; }
.base04-background { background-color: #585858; }
.base05-background { background-color: #383838; }
.base06-background { background-color: #282828; }
.base07-background { background-color: #181818; }
.base08-background { background-color: #fa8480; }
.base09-background { background-color: #ffaa61; }
.base0A-background { background-color: #ffdc61; }
.base0B-background { background-color: #a0d2c8; }
.base0C-background { background-color: #a2d6f5; }
.base0D-background { background-color: #a0a7d2; }
.base0E-background { background-color: #c8a0d2; }
.base0F-background { background-color: #d2b2a0; }
