.base00 { color: #E9F1EF; }
.base01 { color: #CCD4D3; }
.base02 { color: #90B7B6; }
.base03 { color: #5C787B; }
.base04 { color: #4B5B5F; }
.base05 { color: #385156; }
.base06 { color: #0e3c46; }
.base07 { color: #D2FAFF; }
.base08 { color: #CF432E; }
.base09 { color: #D27F46; }
.base0A { color: #CFAD25; }
.base0B { color: #6CA38C; }
.base0C { color: #329CA2; }
.base0D { color: #39AAC9; }
.base0E { color: #6E6582; }
.base0F { color: #865369; }

.base00-background { background-color: #E9F1EF; }
.base01-background { background-color: #CCD4D3; }
.base02-background { background-color: #90B7B6; }
.base03-background { background-color: #5C787B; }
.base04-background { background-color: #4B5B5F; }
.base05-background { background-color: #385156; }
.base06-background { background-color: #0e3c46; }
.base07-background { background-color: #D2FAFF; }
.base08-background { background-color: #CF432E; }
.base09-background { background-color: #D27F46; }
.base0A-background { background-color: #CFAD25; }
.base0B-background { background-color: #6CA38C; }
.base0C-background { background-color: #329CA2; }
.base0D-background { background-color: #39AAC9; }
.base0E-background { background-color: #6E6582; }
.base0F-background { background-color: #865369; }
