.base00 { color: #1c1c1c; }
.base01 { color: #282828; }
.base02 { color: #2c2c2c; }
.base03 { color: #323232; }
.base04 { color: #3c3c3c; }
.base05 { color: #555555; }
.base06 { color: #b6b6b6; }
.base07 { color: #d1d1d1; }
.base08 { color: #ff3d81; }
.base09 { color: #F67544; }
.base0A { color: #ffff73; }
.base0B { color: #44ffdd; }
.base0C { color: #00caff; }
.base0D { color: #2fb1d4; }
.base0E { color: #8265ff; }
.base0F { color: #F83D80; }

.base00-background { background-color: #1c1c1c; }
.base01-background { background-color: #282828; }
.base02-background { background-color: #2c2c2c; }
.base03-background { background-color: #323232; }
.base04-background { background-color: #3c3c3c; }
.base05-background { background-color: #555555; }
.base06-background { background-color: #b6b6b6; }
.base07-background { background-color: #d1d1d1; }
.base08-background { background-color: #ff3d81; }
.base09-background { background-color: #F67544; }
.base0A-background { background-color: #ffff73; }
.base0B-background { background-color: #44ffdd; }
.base0C-background { background-color: #00caff; }
.base0D-background { background-color: #2fb1d4; }
.base0E-background { background-color: #8265ff; }
.base0F-background { background-color: #F83D80; }
