.base00 { color: #1C1B19; }
.base01 { color: #98BC37; }
.base02 { color: #FED06E; }
.base03 { color: #918175; }
.base04 { color: #68A8E4; }
.base05 { color: #BAA67F; }
.base06 { color: #FF5C8F; }
.base07 { color: #FCE8C3; }
.base08 { color: #EF2F27; }
.base09 { color: #FF5F00; }
.base0A { color: #FBB829; }
.base0B { color: #519F50; }
.base0C { color: #0AAEB3; }
.base0D { color: #2C78BF; }
.base0E { color: #E02C6D; }
.base0F { color: #2BE4D0; }

.base00-background { background-color: #1C1B19; }
.base01-background { background-color: #98BC37; }
.base02-background { background-color: #FED06E; }
.base03-background { background-color: #918175; }
.base04-background { background-color: #68A8E4; }
.base05-background { background-color: #BAA67F; }
.base06-background { background-color: #FF5C8F; }
.base07-background { background-color: #FCE8C3; }
.base08-background { background-color: #EF2F27; }
.base09-background { background-color: #FF5F00; }
.base0A-background { background-color: #FBB829; }
.base0B-background { background-color: #519F50; }
.base0C-background { background-color: #0AAEB3; }
.base0D-background { background-color: #2C78BF; }
.base0E-background { background-color: #E02C6D; }
.base0F-background { background-color: #2BE4D0; }
