.base00 { color: #f2f2f2; }
.base01 { color: #e5e5e5; }
.base02 { color: #d9d9d9; }
.base03 { color: #cccccc; }
.base04 { color: #ababab; }
.base05 { color: #767676; }
.base06 { color: #414141; }
.base07 { color: #0c0c0c; }
.base08 { color: #c50f1f; }
.base09 { color: #f9f1a5; }
.base0A { color: #c19c00; }
.base0B { color: #13a10e; }
.base0C { color: #3a96dd; }
.base0D { color: #0037da; }
.base0E { color: #881798; }
.base0F { color: #16c60c; }

.base00-background { background-color: #f2f2f2; }
.base01-background { background-color: #e5e5e5; }
.base02-background { background-color: #d9d9d9; }
.base03-background { background-color: #cccccc; }
.base04-background { background-color: #ababab; }
.base05-background { background-color: #767676; }
.base06-background { background-color: #414141; }
.base07-background { background-color: #0c0c0c; }
.base08-background { background-color: #c50f1f; }
.base09-background { background-color: #f9f1a5; }
.base0A-background { background-color: #c19c00; }
.base0B-background { background-color: #13a10e; }
.base0C-background { background-color: #3a96dd; }
.base0D-background { background-color: #0037da; }
.base0E-background { background-color: #881798; }
.base0F-background { background-color: #16c60c; }
