.base00 { color: #222222; }
.base01 { color: #313131; }
.base02 { color: #555D55; }
.base03 { color: #644646; }
.base04 { color: #5A5A5A; }
.base05 { color: #DEDEE7; }
.base06 { color: #C3C3B4; }
.base07 { color: #FFFFE6; }
.base08 { color: #C88C8C; }
.base09 { color: #476C88; }
.base0A { color: #D8B56D; }
.base0B { color: #99C899; }
.base0C { color: #78B4B4; }
.base0D { color: #537C9C; }
.base0E { color: #86CACD; }
.base0F { color: #704F4F; }

.base00-background { background-color: #222222; }
.base01-background { background-color: #313131; }
.base02-background { background-color: #555D55; }
.base03-background { background-color: #644646; }
.base04-background { background-color: #5A5A5A; }
.base05-background { background-color: #DEDEE7; }
.base06-background { background-color: #C3C3B4; }
.base07-background { background-color: #FFFFE6; }
.base08-background { background-color: #C88C8C; }
.base09-background { background-color: #476C88; }
.base0A-background { background-color: #D8B56D; }
.base0B-background { background-color: #99C899; }
.base0C-background { background-color: #78B4B4; }
.base0D-background { background-color: #537C9C; }
.base0E-background { background-color: #86CACD; }
.base0F-background { background-color: #704F4F; }
