.base00 { color: #0e3c46; }
.base01 { color: #1D494E; }
.base02 { color: #2A5054; }
.base03 { color: #587073; }
.base04 { color: #9DC8CD; }
.base05 { color: #C7DBDD; }
.base06 { color: #CBF2F7; }
.base07 { color: #D2FAFF; }
.base08 { color: #fb6953; }
.base09 { color: #fcab74; }
.base0A { color: #fce380; }
.base0B { color: #73d8ad; }
.base0C { color: #3fb2b9; }
.base0D { color: #46bddd; }
.base0E { color: #756b8a; }
.base0F { color: #9b647b; }

.base00-background { background-color: #0e3c46; }
.base01-background { background-color: #1D494E; }
.base02-background { background-color: #2A5054; }
.base03-background { background-color: #587073; }
.base04-background { background-color: #9DC8CD; }
.base05-background { background-color: #C7DBDD; }
.base06-background { background-color: #CBF2F7; }
.base07-background { background-color: #D2FAFF; }
.base08-background { background-color: #fb6953; }
.base09-background { background-color: #fcab74; }
.base0A-background { background-color: #fce380; }
.base0B-background { background-color: #73d8ad; }
.base0C-background { background-color: #3fb2b9; }
.base0D-background { background-color: #46bddd; }
.base0E-background { background-color: #756b8a; }
.base0F-background { background-color: #9b647b; }
