.base00 { color: #2d302f; }
.base01 { color: #434846; }
.base02 { color: #5a605d; }
.base03 { color: #9da8a3; }
.base04 { color: #cad8d2; }
.base05 { color: #e0f0eF; }
.base06 { color: #ecf6f2; }
.base07 { color: #fcfefd; }
.base08 { color: #F9906F; }
.base09 { color: #B38A61; }
.base0A { color: #F0C239; }
.base0B { color: #8AB361; }
.base0C { color: #30DFF3; }
.base0D { color: #B0A4E3; }
.base0E { color: #CCA4E3; }
.base0F { color: #CA6924; }

.base00-background { background-color: #2d302f; }
.base01-background { background-color: #434846; }
.base02-background { background-color: #5a605d; }
.base03-background { background-color: #9da8a3; }
.base04-background { background-color: #cad8d2; }
.base05-background { background-color: #e0f0eF; }
.base06-background { background-color: #ecf6f2; }
.base07-background { background-color: #fcfefd; }
.base08-background { background-color: #F9906F; }
.base09-background { background-color: #B38A61; }
.base0A-background { background-color: #F0C239; }
.base0B-background { background-color: #8AB361; }
.base0C-background { background-color: #30DFF3; }
.base0D-background { background-color: #B0A4E3; }
.base0E-background { background-color: #CCA4E3; }
.base0F-background { background-color: #CA6924; }
