.base00 { color: #303030; }
.base01 { color: #444444; }
.base02 { color: #878787; }
.base03 { color: #875faf; }
.base04 { color: #afafd7; }
.base05 { color: #d7afff; }
.base06 { color: #ffffff; }
.base07 { color: #afffd7; }
.base08 { color: #ff005f; }
.base09 { color: #ff00ff; }
.base0A { color: #ffffaf; }
.base0B { color: #87ffff; }
.base0C { color: #00ffaf; }
.base0D { color: #afffff; }
.base0E { color: #d7afff; }
.base0F { color: #ff87d7; }

.base00-background { background-color: #303030; }
.base01-background { background-color: #444444; }
.base02-background { background-color: #878787; }
.base03-background { background-color: #875faf; }
.base04-background { background-color: #afafd7; }
.base05-background { background-color: #d7afff; }
.base06-background { background-color: #ffffff; }
.base07-background { background-color: #afffd7; }
.base08-background { background-color: #ff005f; }
.base09-background { background-color: #ff00ff; }
.base0A-background { background-color: #ffffaf; }
.base0B-background { background-color: #87ffff; }
.base0C-background { background-color: #00ffaf; }
.base0D-background { background-color: #afffff; }
.base0E-background { background-color: #d7afff; }
.base0F-background { background-color: #ff87d7; }
