.base00 { color: #000000; }
.base01 { color: #1C1C1C; }
.base02 { color: #383838; }
.base03 { color: #545454; }
.base04 { color: #a2a2a2; }
.base05 { color: #c0c0c0; }
.base06 { color: #dedede; }
.base07 { color: #fcfcfc; }
.base08 { color: #fc5454; }
.base09 { color: #808000; }
.base0A { color: #fcfc54; }
.base0B { color: #54fc54; }
.base0C { color: #54fcfc; }
.base0D { color: #5454fc; }
.base0E { color: #fc54fc; }
.base0F { color: #008000; }

.base00-background { background-color: #000000; }
.base01-background { background-color: #1C1C1C; }
.base02-background { background-color: #383838; }
.base03-background { background-color: #545454; }
.base04-background { background-color: #a2a2a2; }
.base05-background { background-color: #c0c0c0; }
.base06-background { background-color: #dedede; }
.base07-background { background-color: #fcfcfc; }
.base08-background { background-color: #fc5454; }
.base09-background { background-color: #808000; }
.base0A-background { background-color: #fcfc54; }
.base0B-background { background-color: #54fc54; }
.base0C-background { background-color: #54fcfc; }
.base0D-background { background-color: #5454fc; }
.base0E-background { background-color: #fc54fc; }
.base0F-background { background-color: #008000; }
