.base00 { color: #282828; }
.base01 { color: #383838; }
.base02 { color: #484848; }
.base03 { color: #4c4c4c; }
.base04 { color: #b8b8b8; }
.base05 { color: #eeeeee; }
.base06 { color: #e8e8e8; }
.base07 { color: #feffff; }
.base08 { color: #f43753; }
.base09 { color: #dc9656; }
.base0A { color: #ffc24b; }
.base0B { color: #c9d05c; }
.base0C { color: #73cef4; }
.base0D { color: #b3deef; }
.base0E { color: #d3b987; }
.base0F { color: #a16946; }

.base00-background { background-color: #282828; }
.base01-background { background-color: #383838; }
.base02-background { background-color: #484848; }
.base03-background { background-color: #4c4c4c; }
.base04-background { background-color: #b8b8b8; }
.base05-background { background-color: #eeeeee; }
.base06-background { background-color: #e8e8e8; }
.base07-background { background-color: #feffff; }
.base08-background { background-color: #f43753; }
.base09-background { background-color: #dc9656; }
.base0A-background { background-color: #ffc24b; }
.base0B-background { background-color: #c9d05c; }
.base0C-background { background-color: #73cef4; }
.base0D-background { background-color: #b3deef; }
.base0E-background { background-color: #d3b987; }
.base0F-background { background-color: #a16946; }
