.base00 { color: #ffffff; }
.base01 { color: #eaeaea; }
.base02 { color: #d5d5d5; }
.base03 { color: #c0c0c0; }
.base04 { color: #a0a0a0; }
.base05 { color: #808080; }
.base06 { color: #404040; }
.base07 { color: #000000; }
.base08 { color: #800000; }
.base09 { color: #ffff00; }
.base0A { color: #808000; }
.base0B { color: #008000; }
.base0C { color: #008080; }
.base0D { color: #000080; }
.base0E { color: #800080; }
.base0F { color: #00ff00; }

.base00-background { background-color: #ffffff; }
.base01-background { background-color: #eaeaea; }
.base02-background { background-color: #d5d5d5; }
.base03-background { background-color: #c0c0c0; }
.base04-background { background-color: #a0a0a0; }
.base05-background { background-color: #808080; }
.base06-background { background-color: #404040; }
.base07-background { background-color: #000000; }
.base08-background { background-color: #800000; }
.base09-background { background-color: #ffff00; }
.base0A-background { background-color: #808000; }
.base0B-background { background-color: #008000; }
.base0C-background { background-color: #008080; }
.base0D-background { background-color: #000080; }
.base0E-background { background-color: #800080; }
.base0F-background { background-color: #00ff00; }
