.base00 { color: #faf4ed; }
.base01 { color: #fffaf3; }
.base02 { color: #f2e9de; }
.base03 { color: #9893a5; }
.base04 { color: #797593; }
.base05 { color: #575279; }
.base06 { color: #575279; }
.base07 { color: #cecacd; }
.base08 { color: #b4637a; }
.base09 { color: #ea9d34; }
.base0A { color: #d7827e; }
.base0B { color: #286983; }
.base0C { color: #56949f; }
.base0D { color: #907aa9; }
.base0E { color: #ea9d34; }
.base0F { color: #cecacd; }

.base00-background { background-color: #faf4ed; }
.base01-background { background-color: #fffaf3; }
.base02-background { background-color: #f2e9de; }
.base03-background { background-color: #9893a5; }
.base04-background { background-color: #797593; }
.base05-background { background-color: #575279; }
.base06-background { background-color: #575279; }
.base07-background { background-color: #cecacd; }
.base08-background { background-color: #b4637a; }
.base09-background { background-color: #ea9d34; }
.base0A-background { background-color: #d7827e; }
.base0B-background { background-color: #286983; }
.base0C-background { background-color: #56949f; }
.base0D-background { background-color: #907aa9; }
.base0E-background { background-color: #ea9d34; }
.base0F-background { background-color: #cecacd; }
