.base00 { color: #050608; }
.base01 { color: #1a1b1c; }
.base02 { color: #28292a; }
.base03 { color: #474849; }
.base04 { color: #a3a5a6; }
.base05 { color: #c1c3c4; }
.base06 { color: #cfd1d2; }
.base07 { color: #dddfe0; }
.base08 { color: #b53b50; }
.base09 { color: #ea770d; }
.base0A { color: #c9d364; }
.base0B { color: #06ea61; }
.base0C { color: #42fff9; }
.base0D { color: #03aeff; }
.base0E { color: #ea5ce2; }
.base0F { color: #cd6320; }

.base00-background { background-color: #050608; }
.base01-background { background-color: #1a1b1c; }
.base02-background { background-color: #28292a; }
.base03-background { background-color: #474849; }
.base04-background { background-color: #a3a5a6; }
.base05-background { background-color: #c1c3c4; }
.base06-background { background-color: #cfd1d2; }
.base07-background { background-color: #dddfe0; }
.base08-background { background-color: #b53b50; }
.base09-background { background-color: #ea770d; }
.base0A-background { background-color: #c9d364; }
.base0B-background { background-color: #06ea61; }
.base0C-background { background-color: #42fff9; }
.base0D-background { background-color: #03aeff; }
.base0E-background { background-color: #ea5ce2; }
.base0F-background { background-color: #cd6320; }
