.base00 { color: #101010; }
.base01 { color: #454545; }
.base02 { color: #454545; }
.base03 { color: #454545; }
.base04 { color: #808080; }
.base05 { color: #C0C0C0; }
.base06 { color: #C0C0C0; }
.base07 { color: #454545; }
.base08 { color: #EFA6A2; }
.base09 { color: #A3B8EF; }
.base0A { color: #E6A3DC; }
.base0B { color: #80C990; }
.base0C { color: #C8C874; }
.base0D { color: #50CACD; }
.base0E { color: #E0AF85; }
.base0F { color: #808080; }

.base00-background { background-color: #101010; }
.base01-background { background-color: #454545; }
.base02-background { background-color: #454545; }
.base03-background { background-color: #454545; }
.base04-background { background-color: #808080; }
.base05-background { background-color: #C0C0C0; }
.base06-background { background-color: #C0C0C0; }
.base07-background { background-color: #454545; }
.base08-background { background-color: #EFA6A2; }
.base09-background { background-color: #A3B8EF; }
.base0A-background { background-color: #E6A3DC; }
.base0B-background { background-color: #80C990; }
.base0C-background { background-color: #C8C874; }
.base0D-background { background-color: #50CACD; }
.base0E-background { background-color: #E0AF85; }
.base0F-background { background-color: #808080; }
