.base00 { color: #000000; }
.base01 { color: #5ccc96; }
.base02 { color: #b3a1e6; }
.base03 { color: #686f9a; }
.base04 { color: #00a3cc; }
.base05 { color: #686f9a; }
.base06 { color: #f2ce00; }
.base07 { color: #f0f1ce; }
.base08 { color: #e33400; }
.base09 { color: #e33400; }
.base0A { color: #b3a1e6; }
.base0B { color: #5ccc96; }
.base0C { color: #7a5ccc; }
.base0D { color: #00a3cc; }
.base0E { color: #f2ce00; }
.base0F { color: #7a5ccc; }

.base00-background { background-color: #000000; }
.base01-background { background-color: #5ccc96; }
.base02-background { background-color: #b3a1e6; }
.base03-background { background-color: #686f9a; }
.base04-background { background-color: #00a3cc; }
.base05-background { background-color: #686f9a; }
.base06-background { background-color: #f2ce00; }
.base07-background { background-color: #f0f1ce; }
.base08-background { background-color: #e33400; }
.base09-background { background-color: #e33400; }
.base0A-background { background-color: #b3a1e6; }
.base0B-background { background-color: #5ccc96; }
.base0C-background { background-color: #7a5ccc; }
.base0D-background { background-color: #00a3cc; }
.base0E-background { background-color: #f2ce00; }
.base0F-background { background-color: #7a5ccc; }
