.base00 { color: #e0e0e0; }
.base01 { color: #d0dad0; }
.base02 { color: #d0d0d0; }
.base03 { color: #707070; }
.base04 { color: #202020; }
.base05 { color: #000000; }
.base06 { color: #f8f8f8; }
.base07 { color: #c4d9c4; }
.base08 { color: #840000; }
.base09 { color: #006565; }
.base0A { color: #755B00; }
.base0B { color: #730073; }
.base0C { color: #755B00; }
.base0D { color: #007300; }
.base0E { color: #000090; }
.base0F { color: #755B00; }

.base00-background { background-color: #e0e0e0; }
.base01-background { background-color: #d0dad0; }
.base02-background { background-color: #d0d0d0; }
.base03-background { background-color: #707070; }
.base04-background { background-color: #202020; }
.base05-background { background-color: #000000; }
.base06-background { background-color: #f8f8f8; }
.base07-background { background-color: #c4d9c4; }
.base08-background { background-color: #840000; }
.base09-background { background-color: #006565; }
.base0A-background { background-color: #755B00; }
.base0B-background { background-color: #730073; }
.base0C-background { background-color: #755B00; }
.base0D-background { background-color: #007300; }
.base0E-background { background-color: #000090; }
.base0F-background { background-color: #755B00; }
