.base00 { color: #2e3436; }
.base01 { color: #8ae234; }
.base02 { color: #fce94f; }
.base03 { color: #555753; }
.base04 { color: #729fcf; }
.base05 { color: #d3d7cf; }
.base06 { color: #ad7fa8; }
.base07 { color: #eeeeec; }
.base08 { color: #cc0000; }
.base09 { color: #ef2929; }
.base0A { color: #c4a000; }
.base0B { color: #4e9a06; }
.base0C { color: #06989a; }
.base0D { color: #3465a4; }
.base0E { color: #75507b; }
.base0F { color: #34e2e2; }

.base00-background { background-color: #2e3436; }
.base01-background { background-color: #8ae234; }
.base02-background { background-color: #fce94f; }
.base03-background { background-color: #555753; }
.base04-background { background-color: #729fcf; }
.base05-background { background-color: #d3d7cf; }
.base06-background { background-color: #ad7fa8; }
.base07-background { background-color: #eeeeec; }
.base08-background { background-color: #cc0000; }
.base09-background { background-color: #ef2929; }
.base0A-background { background-color: #c4a000; }
.base0B-background { background-color: #4e9a06; }
.base0C-background { background-color: #06989a; }
.base0D-background { background-color: #3465a4; }
.base0E-background { background-color: #75507b; }
.base0F-background { background-color: #34e2e2; }
