.base00 { color: #171517; }
.base01 { color: #1b181b; }
.base02 { color: #1d1b1d; }
.base03 { color: #383338; }
.base04 { color: #e7dbdb; }
.base05 { color: #f5f5f5; }
.base06 { color: #ffffff; }
.base07 { color: #f7f3f7; }
.base08 { color: #ffa600; }
.base09 { color: #00ff66; }
.base0A { color: #20df6c; }
.base0B { color: #ff0066; }
.base0C { color: #6600ff; }
.base0D { color: #00ffff; }
.base0E { color: #007fff; }
.base0F { color: #df206c; }

.base00-background { background-color: #171517; }
.base01-background { background-color: #1b181b; }
.base02-background { background-color: #1d1b1d; }
.base03-background { background-color: #383338; }
.base04-background { background-color: #e7dbdb; }
.base05-background { background-color: #f5f5f5; }
.base06-background { background-color: #ffffff; }
.base07-background { background-color: #f7f3f7; }
.base08-background { background-color: #ffa600; }
.base09-background { background-color: #00ff66; }
.base0A-background { background-color: #20df6c; }
.base0B-background { background-color: #ff0066; }
.base0C-background { background-color: #6600ff; }
.base0D-background { background-color: #00ffff; }
.base0E-background { background-color: #007fff; }
.base0F-background { background-color: #df206c; }
