.base00 { color: #22273b; }
.base01 { color: #414f60; }
.base02 { color: #5a8380; }
.base03 { color: #6e6f72; }
.base04 { color: #87888b; }
.base05 { color: #a4a6a9; }
.base06 { color: #c7c9cd; }
.base07 { color: #8dbdaa; }
.base08 { color: #777abc; }
.base09 { color: #94929e; }
.base0A { color: #4f9062; }
.base0B { color: #6562a8; }
.base0C { color: #226f68; }
.base0D { color: #4d6bb6; }
.base0E { color: #716cae; }
.base0F { color: #8c70a7; }

.base00-background { background-color: #22273b; }
.base01-background { background-color: #414f60; }
.base02-background { background-color: #5a8380; }
.base03-background { background-color: #6e6f72; }
.base04-background { background-color: #87888b; }
.base05-background { background-color: #a4a6a9; }
.base06-background { background-color: #c7c9cd; }
.base07-background { background-color: #8dbdaa; }
.base08-background { background-color: #777abc; }
.base09-background { background-color: #94929e; }
.base0A-background { background-color: #4f9062; }
.base0B-background { background-color: #6562a8; }
.base0C-background { background-color: #226f68; }
.base0D-background { background-color: #4d6bb6; }
.base0E-background { background-color: #716cae; }
.base0F-background { background-color: #8c70a7; }
