.base00 { color: #0c1118; }
.base01 { color: #181c22; }
.base02 { color: #22262d; }
.base03 { color: #7b776e; }
.base04 { color: #949088; }
.base05 { color: #afaba2; }
.base06 { color: #cac6bd; }
.base07 { color: #e7e2d9; }
.base08 { color: #f04339; }
.base09 { color: #df5923; }
.base0A { color: #bb8801; }
.base0B { color: #7f8b00; }
.base0C { color: #00948b; }
.base0D { color: #008dd1; }
.base0E { color: #6a7fd2; }
.base0F { color: #e3488e; }

.base00-background { background-color: #0c1118; }
.base01-background { background-color: #181c22; }
.base02-background { background-color: #22262d; }
.base03-background { background-color: #7b776e; }
.base04-background { background-color: #949088; }
.base05-background { background-color: #afaba2; }
.base06-background { background-color: #cac6bd; }
.base07-background { background-color: #e7e2d9; }
.base08-background { background-color: #f04339; }
.base09-background { background-color: #df5923; }
.base0A-background { background-color: #bb8801; }
.base0B-background { background-color: #7f8b00; }
.base0C-background { background-color: #00948b; }
.base0D-background { background-color: #008dd1; }
.base0E-background { background-color: #6a7fd2; }
.base0F-background { background-color: #e3488e; }
