.base00 { color: #000000; }
.base01 { color: #231a40; }
.base02 { color: #432d59; }
.base03 { color: #593380; }
.base04 { color: #00ff00; }
.base05 { color: #b08ae6; }
.base06 { color: #9045e6; }
.base07 { color: #a366ff; }
.base08 { color: #a82ee6; }
.base09 { color: #bb66cc; }
.base0A { color: #f29df2; }
.base0B { color: #4595e6; }
.base0C { color: #40dfff; }
.base0D { color: #4136d9; }
.base0E { color: #7e5ce6; }
.base0F { color: #a886bf; }

.base00-background { background-color: #000000; }
.base01-background { background-color: #231a40; }
.base02-background { background-color: #432d59; }
.base03-background { background-color: #593380; }
.base04-background { background-color: #00ff00; }
.base05-background { background-color: #b08ae6; }
.base06-background { background-color: #9045e6; }
.base07-background { background-color: #a366ff; }
.base08-background { background-color: #a82ee6; }
.base09-background { background-color: #bb66cc; }
.base0A-background { background-color: #f29df2; }
.base0B-background { background-color: #4595e6; }
.base0C-background { background-color: #40dfff; }
.base0D-background { background-color: #4136d9; }
.base0E-background { background-color: #7e5ce6; }
.base0F-background { background-color: #a886bf; }
