.base00 { color: #0c0c0c; }
.base01 { color: #2f2f2f; }
.base02 { color: #535353; }
.base03 { color: #767676; }
.base04 { color: #b9b9b9; }
.base05 { color: #cccccc; }
.base06 { color: #dfdfdf; }
.base07 { color: #f2f2f2; }
.base08 { color: #e74856; }
.base09 { color: #c19c00; }
.base0A { color: #f9f1a5; }
.base0B { color: #16c60c; }
.base0C { color: #61d6d6; }
.base0D { color: #3b78ff; }
.base0E { color: #b4009e; }
.base0F { color: #13a10e; }

.base00-background { background-color: #0c0c0c; }
.base01-background { background-color: #2f2f2f; }
.base02-background { background-color: #535353; }
.base03-background { background-color: #767676; }
.base04-background { background-color: #b9b9b9; }
.base05-background { background-color: #cccccc; }
.base06-background { background-color: #dfdfdf; }
.base07-background { background-color: #f2f2f2; }
.base08-background { background-color: #e74856; }
.base09-background { background-color: #c19c00; }
.base0A-background { background-color: #f9f1a5; }
.base0B-background { background-color: #16c60c; }
.base0C-background { background-color: #61d6d6; }
.base0D-background { background-color: #3b78ff; }
.base0E-background { background-color: #b4009e; }
.base0F-background { background-color: #13a10e; }
