.base00 { color: #262626; }
.base01 { color: #303030; }
.base02 { color: #333333; }
.base03 { color: #6C6C6C; }
.base04 { color: #787878; }
.base05 { color: #BCBCBC; }
.base06 { color: #C9C9C9; }
.base07 { color: #FFFFFF; }
.base08 { color: #5F8787; }
.base09 { color: #FF8700; }
.base0A { color: #5F8787; }
.base0B { color: #87AF87; }
.base0C { color: #5F875F; }
.base0D { color: #FFFFAF; }
.base0E { color: #87AFD7; }
.base0F { color: #5F87AF; }

.base00-background { background-color: #262626; }
.base01-background { background-color: #303030; }
.base02-background { background-color: #333333; }
.base03-background { background-color: #6C6C6C; }
.base04-background { background-color: #787878; }
.base05-background { background-color: #BCBCBC; }
.base06-background { background-color: #C9C9C9; }
.base07-background { background-color: #FFFFFF; }
.base08-background { background-color: #5F8787; }
.base09-background { background-color: #FF8700; }
.base0A-background { background-color: #5F8787; }
.base0B-background { background-color: #87AF87; }
.base0C-background { background-color: #5F875F; }
.base0D-background { background-color: #FFFFAF; }
.base0E-background { background-color: #87AFD7; }
.base0F-background { background-color: #5F87AF; }
