[colors]
# Base16 Rigel
# Scheme author: Alexander Keliris
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #77929e
foreground_bold     = #77929e
cursor              = #77929e
cursor_foreground   = #00384d
background          = #00384d

# 16 color space

# Black, Gray, Silver, White
color0  = #00384d
color8  = #517f8d
color7  = #77929e
color15 = #e6e6dc

# Red
color1  = #c43061
color9  = #c43061

# Green
color2  = #7fc06e
color10 = #7fc06e

# Yellow
color3  = #f08e48
color11 = #f08e48

# Blue
color4  = #1c8db2
color12 = #1c8db2

# Purple
color5  = #c694ff
color13 = #c694ff

# Teal
color6  = #00cccc
color14 = #00cccc

# Extra colors
color16 = #ff5a67
color17 = #00ffff
color18 = #9cf087
color19 = #ffcc1b
color20 = #7eb2dd
color21 = #fb94ff
