[colors]
#  Material Lighter
# Scheme author: Nate Peterson
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #80CBC4
foreground_bold     = #80CBC4
cursor              = #80CBC4
cursor_foreground   = #FAFAFA
background          = #FAFAFA

color0  = #FAFAFA # base00 - Black
color1  = #FF5370 # base08 - Red
color2  = #91B859 # base0B - Green
color3  = #FFB62C # base0A - Yellow
color4  = #6182B8 # base0D - Blue
color5  = #7C4DFF # base0E - Magenta
color6  = #39ADB5 # base0C - Cyan
color7  = #80CBC4 # base05 - White
color8  = #CCEAE7 # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #FFFFFF # base07 - Bright White
color16 = #F76D47 # base09
color17 = #E53935 # base0F
color18 = #E7EAEC # base01
color19 = #CCEAE7 # base02
color20 = #8796B0 # base04
color21 = #80CBC4 # base06
