[colors]
# Base16 Apprentice
# Author: romainl

foreground          = #BCBCBC
foreground_bold     = #BCBCBC
cursor              = #BCBCBC
cursor_foreground   = #262626
background          = #262626

# 16 color space

# Black, Gray, Silver, White
color0  = #262626
color8  = #6C6C6C
color7  = #BCBCBC
color15 = #FFFFFF

# Red
color1  = #5F8787
color9  = #5F8787

# Green
color2  = #87AF87
color10 = #87AF87

# Yellow
color3  = #5F8787
color11 = #5F8787

# Blue
color4  = #FFFFAF
color12 = #FFFFAF

# Purple
color5  = #87AFD7
color13 = #87AFD7

# Teal
color6  = #5F875F
color14 = #5F875F

# Extra colors
color16 = #FF8700
color17 = #5F87AF
color18 = #303030
color19 = #333333
color20 = #787878
color21 = #C9C9C9
