[colors]
#  Nord
# Scheme author: arcticicestudio
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #E5E9F0
foreground_bold     = #E5E9F0
cursor              = #E5E9F0
cursor_foreground   = #2E3440
background          = #2E3440

color0  = #2E3440 # base00 - Black
color1  = #BF616A # base08 - Red
color2  = #A3BE8C # base0B - Green
color3  = #EBCB8B # base0A - Yellow
color4  = #81A1C1 # base0D - Blue
color5  = #B48EAD # base0E - Magenta
color6  = #88C0D0 # base0C - Cyan
color7  = #E5E9F0 # base05 - White
color8  = #434C5E # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #8FBCBB # base07 - Bright White
color16 = #D08770 # base09
color17 = #5E81AC # base0F
color18 = #3B4252 # base01
color19 = #434C5E # base02
color20 = #D8DEE9 # base04
color21 = #ECEFF4 # base06
