[colors]
# Base16 Vice Alt
# Scheme author: Thomas Leon Highbaugh
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #555e70
foreground_bold     = #555e70
cursor              = #555e70
cursor_foreground   = #1b1d24
background          = #1b1d24

# 16 color space

# Black, Gray, Silver, White
color0  = #1b1d24
color8  = #323643
color7  = #555e70
color15 = #f4f4f7

# Red
color1  = #ff3d81
color9  = #ff3d81

# Green
color2  = #44ffdd
color10 = #44ffdd

# Yellow
color3  = #ffff73
color11 = #ffff73

# Blue
color4  = #2fb1d4
color12 = #2fb1d4

# Purple
color5  = #8265ff
color13 = #8265ff

# Teal
color6  = #00caff
color14 = #00caff

# Extra colors
color16 = #F67544
color17 = #ff00aa
color18 = #282b36
color19 = #2f303d
color20 = #3f4859
color21 = #b2bfd9
