[colors]
#  Kimber
# Scheme author: Mishka Nguyen (https://github.com/akhsiM)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #DEDEE7
foreground_bold     = #DEDEE7
cursor              = #DEDEE7
cursor_foreground   = #222222
background          = #222222

color0  = #222222 # base00 - Black
color1  = #C88C8C # base08 - Red
color2  = #99C899 # base0B - Green
color3  = #D8B56D # base0A - Yellow
color4  = #537C9C # base0D - Blue
color5  = #86CACD # base0E - Magenta
color6  = #78B4B4 # base0C - Cyan
color7  = #DEDEE7 # base05 - White
color8  = #555D55 # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #FFFFE6 # base07 - Bright White
color16 = #476C88 # base09
color17 = #704F4F # base0F
color18 = #313131 # base01
color19 = #555D55 # base02
color20 = #5A5A5A # base04
color21 = #C3C3B4 # base06
