[colors]
#  Heetch Dark
# Scheme author: Geoffrey Teale (tealeg@gmail.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #BDB6C5
foreground_bold     = #BDB6C5
cursor              = #BDB6C5
cursor_foreground   = #190134
background          = #190134

color0  = #190134 # base00 - Black
color1  = #27D9D5 # base08 - Red
color2  = #C33678 # base0B - Green
color3  = #8F6C97 # base0A - Yellow
color4  = #BD0152 # base0D - Blue
color5  = #82034C # base0E - Magenta
color6  = #F80059 # base0C - Cyan
color7  = #BDB6C5 # base05 - White
color8  = #5A496E # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #FEFFFF # base07 - Bright White
color16 = #5BA2B6 # base09
color17 = #470546 # base0F
color18 = #392551 # base01
color19 = #5A496E # base02
color20 = #9C92A8 # base04
color21 = #DEDAE2 # base06
