[colors]
#  XCode Dusk
# Scheme author: Elsa Gonsiorowski (https://github.com/gonsie)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #939599
foreground_bold     = #939599
cursor              = #939599
cursor_foreground   = #282B35
background          = #282B35

color0  = #282B35 # base00 - Black
color1  = #B21889 # base08 - Red
color2  = #DF0002 # base0B - Green
color3  = #438288 # base0A - Yellow
color4  = #790EAD # base0D - Blue
color5  = #B21889 # base0E - Magenta
color6  = #00A0BE # base0C - Cyan
color7  = #939599 # base05 - White
color8  = #53555D # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #BEBFC2 # base07 - Bright White
color16 = #786DC5 # base09
color17 = #C77C48 # base0F
color18 = #3D4048 # base01
color19 = #53555D # base02
color20 = #7E8086 # base04
color21 = #A9AAAE # base06
