[colors]
# Base16 Pasque
# Author: Gabriel Fontes (https://github.com/Misterio77)

foreground          = #DEDCDF
foreground_bold     = #DEDCDF
cursor              = #DEDCDF
cursor_foreground   = #271C3A
background          = #271C3A

# 16 color space

# Black, Gray, Silver, White
color0  = #271C3A
color8  = #5D5766
color7  = #DEDCDF
color15 = #BBAADD

# Red
color1  = #A92258
color9  = #A92258

# Green
color2  = #C6914B
color10 = #C6914B

# Yellow
color3  = #804ead
color11 = #804ead

# Blue
color4  = #8E7DC6
color12 = #8E7DC6

# Purple
color5  = #953B9D
color13 = #953B9D

# Teal
color6  = #7263AA
color14 = #7263AA

# Extra colors
color16 = #918889
color17 = #59325C
color18 = #100323
color19 = #3E2D5C
color20 = #BEBCBF
color21 = #EDEAEF
