[colors]
#  Apprentice
# Scheme author: romainl
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #5F5F87
foreground_bold     = #5F5F87
cursor              = #5F5F87
cursor_foreground   = #262626
background          = #262626

color0  = #262626 # base00 - Black
color1  = #444444 # base08 - Red
color2  = #FFFFAF # base0B - Green
color3  = #87AF87 # base0A - Yellow
color4  = #8787AF # base0D - Blue
color5  = #5FAFAF # base0E - Magenta
color6  = #87AFD7 # base0C - Cyan
color7  = #5F5F87 # base05 - White
color8  = #5F875F # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #6C6C6C # base07 - Bright White
color16 = #FF8700 # base09
color17 = #BCBCBC # base0F
color18 = #AF5F5F # base01
color19 = #5F875F # base02
color20 = #5F87AF # base04
color21 = #5F8787 # base06
