[colors]
# Base16 Spaceduck
# Scheme author: Guillermo Rodriguez (pineapplegiant)
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #686f9a
foreground_bold     = #686f9a
cursor              = #686f9a
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #686f9a
color7  = #686f9a
color15 = #f0f1ce

# Red
color1  = #e33400
color9  = #e33400

# Green
color2  = #5ccc96
color10 = #5ccc96

# Yellow
color3  = #b3a1e6
color11 = #b3a1e6

# Blue
color4  = #00a3cc
color12 = #00a3cc

# Purple
color5  = #f2ce00
color13 = #f2ce00

# Teal
color6  = #7a5ccc
color14 = #7a5ccc

# Extra colors
color16 = #e33400
color17 = #7a5ccc
color18 = #5ccc96
color19 = #b3a1e6
color20 = #00a3cc
color21 = #f2ce00
