[colors]
#  DanQing
# Scheme author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #e0f0eF
foreground_bold     = #e0f0eF
cursor              = #e0f0eF
cursor_foreground   = #2d302f
background          = #2d302f

color0  = #2d302f # base00 - Black
color1  = #F9906F # base08 - Red
color2  = #8AB361 # base0B - Green
color3  = #F0C239 # base0A - Yellow
color4  = #B0A4E3 # base0D - Blue
color5  = #CCA4E3 # base0E - Magenta
color6  = #30DFF3 # base0C - Cyan
color7  = #e0f0eF # base05 - White
color8  = #5a605d # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #fcfefd # base07 - Bright White
color16 = #B38A61 # base09
color17 = #CA6924 # base0F
color18 = #434846 # base01
color19 = #5a605d # base02
color20 = #cad8d2 # base04
color21 = #ecf6f2 # base06
