[colors]
#  srcery
# Scheme author: 
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #BAA67F
foreground_bold     = #BAA67F
cursor              = #BAA67F
cursor_foreground   = #1C1B19
background          = #1C1B19

color0  = #1C1B19 # base00 - Black
color1  = #EF2F27 # base08 - Red
color2  = #519F50 # base0B - Green
color3  = #FBB829 # base0A - Yellow
color4  = #2C78BF # base0D - Blue
color5  = #E02C6D # base0E - Magenta
color6  = #0AAEB3 # base0C - Cyan
color7  = #BAA67F # base05 - White
color8  = #FED06E # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #FCE8C3 # base07 - Bright White
color16 = #FF5F00 # base09
color17 = #2BE4D0 # base0F
color18 = #98BC37 # base01
color19 = #FED06E # base02
color20 = #68A8E4 # base04
color21 = #FF5C8F # base06
