[colors]
#  Material Darker
# Scheme author: Nate Peterson
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #EEFFFF
foreground_bold     = #EEFFFF
cursor              = #EEFFFF
cursor_foreground   = #212121
background          = #212121

color0  = #212121 # base00 - Black
color1  = #F07178 # base08 - Red
color2  = #C3E88D # base0B - Green
color3  = #FFCB6B # base0A - Yellow
color4  = #82AAFF # base0D - Blue
color5  = #C792EA # base0E - Magenta
color6  = #89DDFF # base0C - Cyan
color7  = #EEFFFF # base05 - White
color8  = #353535 # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #FFFFFF # base07 - Bright White
color16 = #F78C6C # base09
color17 = #FF5370 # base0F
color18 = #303030 # base01
color19 = #353535 # base02
color20 = #B2CCD6 # base04
color21 = #EEFFFF # base06
