[colors]
#  Solar Flare Light
# Scheme author: Chuck Harmston (https://chuck.harmston.ch)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #586875
foreground_bold     = #586875
cursor              = #586875
cursor_foreground   = #F5F7FA
background          = #F5F7FA

color0  = #F5F7FA # base00 - Black
color1  = #EF5253 # base08 - Red
color2  = #7CC844 # base0B - Green
color3  = #E4B51C # base0A - Yellow
color4  = #33B5E1 # base0D - Blue
color5  = #A363D5 # base0E - Magenta
color6  = #52CBB0 # base0C - Cyan
color7  = #586875 # base05 - White
color8  = #A6AFB8 # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #18262F # base07 - Bright White
color16 = #E66B2B # base09
color17 = #D73C9A # base0F
color18 = #E8E9ED # base01
color19 = #A6AFB8 # base02
color20 = #667581 # base04
color21 = #222E38 # base06
