[colors]
# Base16 Nord
# Author: arcticicestudio

foreground          = #E5E9F0
foreground_bold     = #E5E9F0
cursor              = #E5E9F0
cursor_foreground   = #2E3440
background          = #2E3440

# 16 color space

# Black, Gray, Silver, White
color0  = #2E3440
color8  = #4C566A
color7  = #E5E9F0
color15 = #8FBCBB

# Red
color1  = #BF616A
color9  = #BF616A

# Green
color2  = #A3BE8C
color10 = #A3BE8C

# Yellow
color3  = #EBCB8B
color11 = #EBCB8B

# Blue
color4  = #81A1C1
color12 = #81A1C1

# Purple
color5  = #B48EAD
color13 = #B48EAD

# Teal
color6  = #88C0D0
color14 = #88C0D0

# Extra colors
color16 = #D08770
color17 = #5E81AC
color18 = #3B4252
color19 = #434C5E
color20 = #D8DEE9
color21 = #ECEFF4
