[colors]
#  Apathy
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #81B5AC
foreground_bold     = #81B5AC
cursor              = #81B5AC
cursor_foreground   = #031A16
background          = #031A16

color0  = #031A16 # base00 - Black
color1  = #3E9688 # base08 - Red
color2  = #883E96 # base0B - Green
color3  = #3E4C96 # base0A - Yellow
color4  = #96883E # base0D - Blue
color5  = #4C963E # base0E - Magenta
color6  = #963E4C # base0C - Cyan
color7  = #81B5AC # base05 - White
color8  = #184E45 # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #D2E7E4 # base07 - Bright White
color16 = #3E7996 # base09
color17 = #3E965B # base0F
color18 = #0B342D # base01
color19 = #184E45 # base02
color20 = #5F9C92 # base04
color21 = #A7CEC8 # base06
