[colors]
# Base16 Apprentice
# Scheme author: romainl
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #5F5F87
foreground_bold     = #5F5F87
cursor              = #5F5F87
cursor_foreground   = #262626
background          = #262626

# 16 color space

# Black, Gray, Silver, White
color0  = #262626
color8  = #87875F
color7  = #5F5F87
color15 = #6C6C6C

# Red
color1  = #444444
color9  = #444444

# Green
color2  = #FFFFAF
color10 = #FFFFAF

# Yellow
color3  = #87AF87
color11 = #87AF87

# Blue
color4  = #8787AF
color12 = #8787AF

# Purple
color5  = #5FAFAF
color13 = #5FAFAF

# Teal
color6  = #87AFD7
color14 = #87AFD7

# Extra colors
color16 = #FF8700
color17 = #BCBCBC
color18 = #AF5F5F
color19 = #5F875F
color20 = #5F87AF
color21 = #5F8787
