[colors]
#  Embers
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #A39A90
foreground_bold     = #A39A90
cursor              = #A39A90
cursor_foreground   = #16130F
background          = #16130F

color0  = #16130F # base00 - Black
color1  = #826D57 # base08 - Red
color2  = #57826D # base0B - Green
color3  = #6D8257 # base0A - Yellow
color4  = #6D5782 # base0D - Blue
color5  = #82576D # base0E - Magenta
color6  = #576D82 # base0C - Cyan
color7  = #A39A90 # base05 - White
color8  = #433B32 # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #DBD6D1 # base07 - Bright White
color16 = #828257 # base09
color17 = #825757 # base0F
color18 = #2C2620 # base01
color19 = #433B32 # base02
color20 = #8A8075 # base04
color21 = #BEB6AE # base06
