[colors]
#  Flat
# Scheme author: Chris Kempson (http://chriskempson.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #e0e0e0
foreground_bold     = #e0e0e0
cursor              = #e0e0e0
cursor_foreground   = #2C3E50
background          = #2C3E50

color0  = #2C3E50 # base00 - Black
color1  = #E74C3C # base08 - Red
color2  = #2ECC71 # base0B - Green
color3  = #F1C40F # base0A - Yellow
color4  = #3498DB # base0D - Blue
color5  = #9B59B6 # base0E - Magenta
color6  = #1ABC9C # base0C - Cyan
color7  = #e0e0e0 # base05 - White
color8  = #7F8C8D # base02 - Bright Black
color9  = # # base12 - Bright Red
color10 = # # base14 - Bright Green
color11 = # # base13 - Bright Yellow
color12 = # # base16 - Bright Blue
color13 = # # base17 - Bright Magenta
color14 = # # base15 - Bright Cyan
color15 = #ECF0F1 # base07 - Bright White
color16 = #E67E22 # base09
color17 = #be643c # base0F
color18 = #34495E # base01
color19 = #7F8C8D # base02
color20 = #BDC3C7 # base04
color21 = #f5f5f5 # base06
