[colors]
# Base16 Vice Alt
# Scheme author: Thomas Leon Highbaugh
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #555555
foreground_bold     = #555555
cursor              = #555555
cursor_foreground   = #1c1c1c
background          = #1c1c1c

# 16 color space

# Black, Gray, Silver, White
color0  = #1c1c1c
color8  = #323232
color7  = #555555
color15 = #d1d1d1

# Red
color1  = #ff3d81
color9  = #ff3d81

# Green
color2  = #44ffdd
color10 = #44ffdd

# Yellow
color3  = #ffff73
color11 = #ffff73

# Blue
color4  = #2fb1d4
color12 = #2fb1d4

# Purple
color5  = #8265ff
color13 = #8265ff

# Teal
color6  = #00caff
color14 = #00caff

# Extra colors
color16 = #F67544
color17 = #F83D80
color18 = #282828
color19 = #2c2c2c
color20 = #3c3c3c
color21 = #b6b6b6
