[colors]
# Base16 DanQing
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

foreground          = #e0f0eF
foreground_bold     = #e0f0eF
cursor              = #e0f0eF
cursor_foreground   = #2d302f
background          = #2d302f

# 16 color space

# Black, Gray, Silver, White
color0  = #2d302f
color8  = #9da8a3
color7  = #e0f0eF
color15 = #fcfefd

# Red
color1  = #F9906F
color9  = #F9906F

# Green
color2  = #8AB361
color10 = #8AB361

# Yellow
color3  = #F0C239
color11 = #F0C239

# Blue
color4  = #B0A4E3
color12 = #B0A4E3

# Purple
color5  = #CCA4E3
color13 = #CCA4E3

# Teal
color6  = #30DFF3
color14 = #30DFF3

# Extra colors
color16 = #B38A61
color17 = #CA6924
color18 = #434846
color19 = #5a605d
color20 = #cad8d2
color21 = #ecf6f2
