[colors]
# Base16 srcery
# Scheme author: 
# Template author: Tinted Theming (https://github.com/tinted-theming)

foreground          = #BAA67F
foreground_bold     = #BAA67F
cursor              = #BAA67F
cursor_foreground   = #1C1B19
background          = #1C1B19

# 16 color space

# Black, Gray, Silver, White
color0  = #1C1B19
color8  = #918175
color7  = #BAA67F
color15 = #FCE8C3

# Red
color1  = #EF2F27
color9  = #EF2F27

# Green
color2  = #519F50
color10 = #519F50

# Yellow
color3  = #FBB829
color11 = #FBB829

# Blue
color4  = #2C78BF
color12 = #2C78BF

# Purple
color5  = #E02C6D
color13 = #E02C6D

# Teal
color6  = #0AAEB3
color14 = #0AAEB3

# Extra colors
color16 = #FF5F00
color17 = #2BE4D0
color18 = #98BC37
color19 = #FED06E
color20 = #68A8E4
color21 = #FF5C8F
