[colors]
# Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

foreground          = #DEDEE7
foreground_bold     = #DEDEE7
cursor              = #DEDEE7
cursor_foreground   = #222222
background          = #222222

# 16 color space

# Black, Gray, Silver, White
color0  = #222222
color8  = #644646
color7  = #DEDEE7
color15 = #FFFFE6

# Red
color1  = #C88C8C
color9  = #C88C8C

# Green
color2  = #99C899
color10 = #99C899

# Yellow
color3  = #D8B56D
color11 = #D8B56D

# Blue
color4  = #537C9C
color12 = #537C9C

# Purple
color5  = #86CACD
color13 = #86CACD

# Teal
color6  = #78B4B4
color14 = #78B4B4

# Extra colors
color16 = #476C88
color17 = #704F4F
color18 = #313131
color19 = #555D55
color20 = #5A5A5A
color21 = #C3C3B4
