# Base16 Vice Alt
# Author: Thomas Leon Highbaugh

set default-bg                  "#303030"
set default-fg                  "#444444"

set statusbar-fg                "#afafd7"
set statusbar-bg                "#878787"

set inputbar-bg                 "#303030"
set inputbar-fg                 "#afffd7"

set notification-bg             "#303030"
set notification-fg             "#afffd7"

set notification-error-bg       "#303030"
set notification-error-fg       "#ff005f"

set notification-warning-bg     "#303030"
set notification-warning-fg     "#ff005f"

set highlight-color             "#ffffaf"
set highlight-active-color      "#afffff"

set completion-bg               "#444444"
set completion-fg               "#afffff"

set completion-highlight-fg     "#afffd7"
set completion-highlight-bg     "#afffff"

set recolor-lightcolor          "#303030"
set recolor-darkcolor           "#ffffff"
