# Base16 Rosé Pine Moon
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;

set default-bg                  "#232136"
set default-fg                  "#2a273f"

set statusbar-fg                "#908caa"
set statusbar-bg                "#393552"

set inputbar-bg                 "#232136"
set inputbar-fg                 "#56526e"

set notification-bg             "#232136"
set notification-fg             "#56526e"

set notification-error-bg       "#232136"
set notification-error-fg       "#eb6f92"

set notification-warning-bg     "#232136"
set notification-warning-fg     "#eb6f92"

set highlight-color             "#ea9a97"
set highlight-active-color      "#c4a7e7"

set completion-bg               "#2a273f"
set completion-fg               "#c4a7e7"

set completion-highlight-fg     "#56526e"
set completion-highlight-bg     "#c4a7e7"

set recolor-lightcolor          "#232136"
set recolor-darkcolor           "#e0def4"
