# Base16 Rosé Pine Dawn
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;

set default-bg                  "#faf4ed"
set default-fg                  "#fffaf3"

set statusbar-fg                "#797593"
set statusbar-bg                "#f2e9de"

set inputbar-bg                 "#faf4ed"
set inputbar-fg                 "#cecacd"

set notification-bg             "#faf4ed"
set notification-fg             "#cecacd"

set notification-error-bg       "#faf4ed"
set notification-error-fg       "#b4637a"

set notification-warning-bg     "#faf4ed"
set notification-warning-fg     "#b4637a"

set highlight-color             "#d7827e"
set highlight-active-color      "#907aa9"

set completion-bg               "#fffaf3"
set completion-fg               "#907aa9"

set completion-highlight-fg     "#cecacd"
set completion-highlight-bg     "#907aa9"

set recolor-lightcolor          "#faf4ed"
set recolor-darkcolor           "#575279"
