# Base16 Vice Dark
# Author: Thomas Leon Highbaugh

set default-bg                  "#181818"
set default-fg                  "#222222"

set statusbar-fg                "#666666"
set statusbar-bg                "#323232"

set inputbar-bg                 "#181818"
set inputbar-fg                 "#e9e9e9"

set notification-bg             "#181818"
set notification-fg             "#e9e9e9"

set notification-error-bg       "#181818"
set notification-error-fg       "#ff29a8"

set notification-warning-bg     "#181818"
set notification-warning-fg     "#ff29a8"

set highlight-color             "#f0ffaa"
set highlight-active-color      "#00eaff"

set completion-bg               "#222222"
set completion-fg               "#00eaff"

set completion-highlight-fg     "#e9e9e9"
set completion-highlight-bg     "#00eaff"

set recolor-lightcolor          "#181818"
set recolor-darkcolor           "#c6c6c6"
