# Base16 Apprentice
# Author: romainl

set default-bg                  "#262626"
set default-fg                  "#AF5F5F"

set statusbar-fg                "#5F87AF"
set statusbar-bg                "#5F875F"

set inputbar-bg                 "#262626"
set inputbar-fg                 "#6C6C6C"

set notification-bg             "#262626"
set notification-fg             "#6C6C6C"

set notification-error-bg       "#262626"
set notification-error-fg       "#444444"

set notification-warning-bg     "#262626"
set notification-warning-fg     "#444444"

set highlight-color             "#87AF87"
set highlight-active-color      "#8787AF"

set completion-bg               "#AF5F5F"
set completion-fg               "#8787AF"

set completion-highlight-fg     "#6C6C6C"
set completion-highlight-bg     "#8787AF"

set recolor-lightcolor          "#262626"
set recolor-darkcolor           "#5F8787"
