/* Spaceduck by Guillermo Rodriguez (pineapplegiant) */

$base00: #000000;
$base01: #5ccc96;
$base02: #b3a1e6;
$base03: #686f9a;
$base04: #00a3cc;
$base05: #686f9a;
$base06: #f2ce00;
$base07: #f0f1ce;
$base08: #e33400;
$base09: #e33400;
$base0A: #b3a1e6;
$base0B: #5ccc96;
$base0C: #7a5ccc;
$base0D: #00a3cc;
$base0E: #f2ce00;
$base0F: #7a5ccc;
