/* Vice Dark by Thomas Leon Highbaugh */

.base00-bg { background-color: #181818; }
.base01-bg { background-color: #222222; }
.base02-bg { background-color: #323232; }
.base03-bg { background-color: #3f3f3f; }
.base04-bg { background-color: #666666; }
.base05-bg { background-color: #818181; }
.base06-bg { background-color: #c6c6c6; }
.base07-bg { background-color: #e9e9e9; }
.base08-bg { background-color: #ff29a8; }
.base09-bg { background-color: #85ffe0; }
.base0A-bg { background-color: #f0ffaa; }
.base0B-bg { background-color: #0badff; }
.base0C-bg { background-color: #8265ff; }
.base0D-bg { background-color: #00eaff; }
.base0E-bg { background-color: #00f6d9; }
.base0F-bg { background-color: #ff3d81; }

.base00 { color: #181818; }
.base01 { color: #222222; }
.base02 { color: #323232; }
.base03 { color: #3f3f3f; }
.base04 { color: #666666; }
.base05 { color: #818181; }
.base06 { color: #c6c6c6; }
.base07 { color: #e9e9e9; }
.base08 { color: #ff29a8; }
.base09 { color: #85ffe0; }
.base0A { color: #f0ffaa; }
.base0B { color: #0badff; }
.base0C { color: #8265ff; }
.base0D { color: #00eaff; }
.base0E { color: #00f6d9; }
.base0F { color: #ff3d81; }
