/* Vice Alt by Thomas Leon Highbaugh */

.base00-bg { background-color: #303030; }
.base01-bg { background-color: #444444; }
.base02-bg { background-color: #878787; }
.base03-bg { background-color: #875faf; }
.base04-bg { background-color: #afafd7; }
.base05-bg { background-color: #d7afff; }
.base06-bg { background-color: #ffffff; }
.base07-bg { background-color: #afffd7; }
.base08-bg { background-color: #ff005f; }
.base09-bg { background-color: #ff00ff; }
.base0A-bg { background-color: #ffffaf; }
.base0B-bg { background-color: #87ffff; }
.base0C-bg { background-color: #00ffaf; }
.base0D-bg { background-color: #afffff; }
.base0E-bg { background-color: #d7afff; }
.base0F-bg { background-color: #ff87d7; }

.base00 { color: #303030; }
.base01 { color: #444444; }
.base02 { color: #878787; }
.base03 { color: #875faf; }
.base04 { color: #afafd7; }
.base05 { color: #d7afff; }
.base06 { color: #ffffff; }
.base07 { color: #afffd7; }
.base08 { color: #ff005f; }
.base09 { color: #ff00ff; }
.base0A { color: #ffffaf; }
.base0B { color: #87ffff; }
.base0C { color: #00ffaf; }
.base0D { color: #afffff; }
.base0E { color: #d7afff; }
.base0F { color: #ff87d7; }
