/* Vice Alt by Thomas Leon Highbaugh */

.base00-bg { background-color: #1b1d24; }
.base01-bg { background-color: #282b36; }
.base02-bg { background-color: #2f303d; }
.base03-bg { background-color: #323643; }
.base04-bg { background-color: #3f4859; }
.base05-bg { background-color: #555e70; }
.base06-bg { background-color: #b2bfd9; }
.base07-bg { background-color: #f4f4f7; }
.base08-bg { background-color: #ff3d81; }
.base09-bg { background-color: #F67544; }
.base0A-bg { background-color: #ffff73; }
.base0B-bg { background-color: #44ffdd; }
.base0C-bg { background-color: #00caff; }
.base0D-bg { background-color: #2fb1d4; }
.base0E-bg { background-color: #8265ff; }
.base0F-bg { background-color: #ff00aa; }

.base00 { color: #1b1d24; }
.base01 { color: #282b36; }
.base02 { color: #2f303d; }
.base03 { color: #323643; }
.base04 { color: #3f4859; }
.base05 { color: #555e70; }
.base06 { color: #b2bfd9; }
.base07 { color: #f4f4f7; }
.base08 { color: #ff3d81; }
.base09 { color: #F67544; }
.base0A { color: #ffff73; }
.base0B { color: #44ffdd; }
.base0C { color: #00caff; }
.base0D { color: #2fb1d4; }
.base0E { color: #8265ff; }
.base0F { color: #ff00aa; }
