/* Rigel by Alexander Keliris */

.base00-bg { background-color: #00384d; }
.base01-bg { background-color: #9cf087; }
.base02-bg { background-color: #ffcc1b; }
.base03-bg { background-color: #517f8d; }
.base04-bg { background-color: #7eb2dd; }
.base05-bg { background-color: #77929e; }
.base06-bg { background-color: #fb94ff; }
.base07-bg { background-color: #e6e6dc; }
.base08-bg { background-color: #c43061; }
.base09-bg { background-color: #ff5a67; }
.base0A-bg { background-color: #f08e48; }
.base0B-bg { background-color: #7fc06e; }
.base0C-bg { background-color: #00cccc; }
.base0D-bg { background-color: #1c8db2; }
.base0E-bg { background-color: #c694ff; }
.base0F-bg { background-color: #00ffff; }

.base00 { color: #00384d; }
.base01 { color: #9cf087; }
.base02 { color: #ffcc1b; }
.base03 { color: #517f8d; }
.base04 { color: #7eb2dd; }
.base05 { color: #77929e; }
.base06 { color: #fb94ff; }
.base07 { color: #e6e6dc; }
.base08 { color: #c43061; }
.base09 { color: #ff5a67; }
.base0A { color: #f08e48; }
.base0B { color: #7fc06e; }
.base0C { color: #00cccc; }
.base0D { color: #1c8db2; }
.base0E { color: #c694ff; }
.base0F { color: #00ffff; }
