/* Background */ .chroma { color: #d7afff; background-color: #303030 }
/* Other */ .chroma .x { color: #d7afff }
/* Error */ .chroma .err { color: #ff005f }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #878787 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #d7afff }
/* KeywordConstant */ .chroma .kc { color: #d7afff }
/* KeywordDeclaration */ .chroma .kd { color: #d7afff }
/* KeywordNamespace */ .chroma .kn { color: #d7afff }
/* KeywordPseudo */ .chroma .kp { color: #d7afff }
/* KeywordReserved */ .chroma .kr { color: #d7afff }
/* KeywordType */ .chroma .kt { color: #ff005f }
/* Name */ .chroma .n { color: #afffff }
/* NameAttribute */ .chroma .na { color: #afffff }
/* NameBuiltin */ .chroma .nb { color: #afffff }
/* NameBuiltinPseudo */ .chroma .bp { color: #ff005f }
/* NameClass */ .chroma .nc { color: #afffff }
/* NameConstant */ .chroma .no { color: #ff00ff }
/* NameDecorator */ .chroma .nd { color: #ff00ff }
/* NameEntity */ .chroma .ni { color: #afffff }
/* NameException */ .chroma .ne { color: #afffff }
/* NameFunction */ .chroma .nf { color: #afffff }
/* NameFunctionMagic */ .chroma .fm { color: #afffff }
/* NameLabel */ .chroma .nl { color: #afffff }
/* NameNamespace */ .chroma .nn { color: #afffff }
/* NameOther */ .chroma .nx { color: #afffff }
/* NameProperty */ .chroma .py { color: #afffff }
/* NameTag */ .chroma .nt { color: #d7afff }
/* NameVariable */ .chroma .nv { color: #afffff }
/* NameVariableClass */ .chroma .vc { color: #afffff }
/* NameVariableGlobal */ .chroma .vg { color: #afffff }
/* NameVariableInstance */ .chroma .vi { color: #ff005f }
/* NameVariableMagic */ .chroma .vm { color: #afffff }
/* Literal */ .chroma .l { color: #87ffff }
/* LiteralDate */ .chroma .ld { color: #87ffff }
/* LiteralString */ .chroma .s { color: #87ffff }
/* LiteralStringAffix */ .chroma .sa { color: #87ffff }
/* LiteralStringBacktick */ .chroma .sb { color: #87ffff }
/* LiteralStringChar */ .chroma .sc { color: #87ffff }
/* LiteralStringDelimiter */ .chroma .dl { color: #87ffff }
/* LiteralStringDoc */ .chroma .sd { color: #87ffff }
/* LiteralStringDouble */ .chroma .s2 { color: #87ffff }
/* LiteralStringEscape */ .chroma .se { color: #87ffff }
/* LiteralStringHeredoc */ .chroma .sh { color: #87ffff }
/* LiteralStringInterpol */ .chroma .si { color: #ff87d7 }
/* LiteralStringOther */ .chroma .sx { color: #87ffff }
/* LiteralStringRegex */ .chroma .sr { color: #00ffaf }
/* LiteralStringSingle */ .chroma .s1 { color: #87ffff }
/* LiteralStringSymbol */ .chroma .ss { color: #ff00ff }
/* LiteralNumber */ .chroma .m { color: #ff00ff }
/* LiteralNumberBin */ .chroma .mb { color: #ff00ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ff00ff }
/* LiteralNumberHex */ .chroma .mh { color: #ff00ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ff00ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ff00ff }
/* LiteralNumberOct */ .chroma .mo { color: #ff00ff }
/* Operator */ .chroma .o { color: #d7afff }
/* OperatorWord */ .chroma .ow { color: #d7afff }
/* Punctuation */ .chroma .p { color: #d7afff }
/* Comment */ .chroma .c { color: #875faf }
/* CommentHashbang */ .chroma .ch { color: #875faf }
/* CommentMultiline */ .chroma .cm { color: #875faf }
/* CommentSingle */ .chroma .c1 { color: #875faf }
/* CommentSpecial */ .chroma .cs { color: #875faf }
/* CommentPreproc */ .chroma .cp { color: #ff87d7 }
/* CommentPreprocFile */ .chroma .cpf { color: #87ffff }
/* Generic */ .chroma .g { color: #d7afff }
/* GenericDeleted */ .chroma .gd { color: #ff005f }
/* GenericEmph */ .chroma .ge { color: #d7afff; font-style: italic }
/* GenericError */ .chroma .gr { color: #d7afff }
/* GenericHeading */ .chroma .gh { color: #afffff }
/* GenericInserted */ .chroma .gi { color: #87ffff }
/* GenericOutput */ .chroma .go { color: #d7afff }
/* GenericPrompt */ .chroma .gp { color: #d7afff }
/* GenericStrong */ .chroma .gs { color: #d7afff; font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #afffff }
/* GenericTraceback */ .chroma .gt { color: #d7afff }
/* GenericUnderline */ .chroma .gl { color: #d7afff; text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #303030; text-decoration: underline }
