# Base16 Apathy
# Author: Jannik Siebert (https://github.com/janniks)

[global_config]
  title_transmit_fg_color = "#81B5AC"
  title_transmit_bg_color = "#031A16"
  title_inactive_fg_color = "#81B5AC"
  title_inactive_bg_color = "#2B685E"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#031A16"
    foreground_color = "#81B5AC"
    cursor_color = "#81B5AC"
    palette = "#031A16:#3E9688:#883E96:#3E4C96:#96883E:#4C963E:#963E4C:#81B5AC:#2B685E:#3E7996:#0B342D:#184E45:#5F9C92:#A7CEC8:#3E965B:#D2E7E4"
