# Base16 Mocha
# Author: Chris Kempson (http://chriskempson.com)

[global_config]
  title_transmit_fg_color = "#d0c8c6"
  title_transmit_bg_color = "#3B3228"
  title_inactive_fg_color = "#d0c8c6"
  title_inactive_bg_color = "#7e705a"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#3B3228"
    foreground_color = "#d0c8c6"
    cursor_color = "#d0c8c6"
    palette = "#3B3228:#cb6077:#beb55b:#f4bc87:#8ab3b5:#a89bb9:#7bbda4:#d0c8c6:#7e705a:#d28b71:#534636:#645240:#b8afad:#e9e1dd:#bb9584:#f5eeeb"
