# Base16 Default Dark
# Author: Chris Kempson (http://chriskempson.com)

[global_config]
  title_transmit_fg_color = "#d8d8d8"
  title_transmit_bg_color = "#181818"
  title_inactive_fg_color = "#d8d8d8"
  title_inactive_bg_color = "#585858"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#181818"
    foreground_color = "#d8d8d8"
    cursor_color = "#d8d8d8"
    palette = "#181818:#ab4642:#a1b56c:#f7ca88:#7cafc2:#ba8baf:#86c1b9:#d8d8d8:#585858:#dc9656:#282828:#383838:#b8b8b8:#e8e8e8:#a16946:#f8f8f8"
