# Base16 Black Metal (Bathory)
# Author: metalelf0 (https://github.com/metalelf0)

[global_config]
  title_transmit_fg_color = "#c1c1c1"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#c1c1c1"
  title_inactive_bg_color = "#333333"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#000000"
    foreground_color = "#c1c1c1"
    cursor_color = "#c1c1c1"
    palette = "#000000:#5f8787:#fbcb97:#e78a53:#888888:#999999:#aaaaaa:#c1c1c1:#333333:#aaaaaa:#121212:#222222:#999999:#999999:#444444:#c1c1c1"
