# Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)

[global_config]
  title_transmit_fg_color = "#BDB6C5"
  title_transmit_bg_color = "#190134"
  title_inactive_fg_color = "#BDB6C5"
  title_inactive_bg_color = "#7B6D8B"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#190134"
    foreground_color = "#BDB6C5"
    cursor_color = "#BDB6C5"
    palette = "#190134:#27D9D5:#C33678:#8F6C97:#BD0152:#82034C:#F80059:#BDB6C5:#7B6D8B:#5BA2B6:#392551:#5A496E:#9C92A8:#DEDAE2:#470546:#FEFFFF"
