# Base16 Material Palenight
# Author: Nate Peterson

[global_config]
  title_transmit_fg_color = "#959DCB"
  title_transmit_bg_color = "#292D3E"
  title_inactive_fg_color = "#959DCB"
  title_inactive_bg_color = "#676E95"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#292D3E"
    foreground_color = "#959DCB"
    cursor_color = "#959DCB"
    palette = "#292D3E:#F07178:#C3E88D:#FFCB6B:#82AAFF:#C792EA:#89DDFF:#959DCB:#676E95:#F78C6C:#444267:#32374D:#8796B0:#959DCB:#FF5370:#FFFFFF"
