# Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

[global_config]
  title_transmit_fg_color = "#e0def4"
  title_transmit_bg_color = "#191724"
  title_inactive_fg_color = "#e0def4"
  title_inactive_bg_color = "#555169"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#191724"
    foreground_color = "#e0def4"
    cursor_color = "#e0def4"
    palette = "#191724:#e2e1e7:#ebbcba:#f6c177:#9ccfd8:#c4a7e7:#31748f:#e0def4:#555169:#eb6f92:#1f1d2e:#26233a:#6e6a86:#f0f0f3:#e5e5e5:#c5c3ce"
