# Base16 Atelier Sulphurpool Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#5e6687"
  title_transmit_bg_color = "#f5f7ff"
  title_inactive_fg_color = "#5e6687"
  title_inactive_bg_color = "#898ea4"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f5f7ff"
    foreground_color = "#5e6687"
    cursor_color = "#5e6687"
    palette = "#f5f7ff:#c94922:#ac9739:#c08b30:#3d8fd1:#6679cc:#22a2c9:#5e6687:#898ea4:#c76b29:#dfe2f1:#979db4:#6b7394:#293256:#9c637a:#202746"
