# Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

[global_config]
  title_transmit_fg_color = "#DEDEE7"
  title_transmit_bg_color = "#222222"
  title_inactive_fg_color = "#DEDEE7"
  title_inactive_bg_color = "#644646"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#222222"
    foreground_color = "#DEDEE7"
    cursor_color = "#DEDEE7"
    palette = "#222222:#C88C8C:#99C899:#D8B56D:#537C9C:#86CACD:#78B4B4:#DEDEE7:#644646:#476C88:#313131:#555D55:#5A5A5A:#C3C3B4:#704F4F:#FFFFE6"
