# Base16 Brush Trees Dark
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

[global_config]
  title_transmit_fg_color = "#B0C5C8"
  title_transmit_bg_color = "#485867"
  title_inactive_fg_color = "#B0C5C8"
  title_inactive_bg_color = "#8299A1"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#485867"
    foreground_color = "#B0C5C8"
    cursor_color = "#B0C5C8"
    palette = "#485867:#b38686:#87b386:#aab386:#868cb3:#b386b2:#86b3b3:#B0C5C8:#8299A1:#d8bba2:#5A6D7A:#6D828E:#98AFB5:#C9DBDC:#b39f9f:#E3EFEF"
