# Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)

[global_config]
  title_transmit_fg_color = "#A6AFB8"
  title_transmit_bg_color = "#18262F"
  title_inactive_fg_color = "#A6AFB8"
  title_inactive_bg_color = "#667581"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#18262F"
    foreground_color = "#A6AFB8"
    cursor_color = "#A6AFB8"
    palette = "#18262F:#EF5253:#7CC844:#E4B51C:#33B5E1:#A363D5:#52CBB0:#A6AFB8:#667581:#E66B2B:#222E38:#586875:#85939E:#E8E9ED:#D73C9A:#F5F7FA"
