# Base16 Atelier Lakeside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#516d7b"
  title_transmit_bg_color = "#ebf8ff"
  title_inactive_fg_color = "#516d7b"
  title_inactive_bg_color = "#7195a8"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#ebf8ff"
    foreground_color = "#516d7b"
    cursor_color = "#516d7b"
    palette = "#ebf8ff:#d22d72:#568c3b:#8a8a0f:#257fad:#6b6bb8:#2d8f6f:#516d7b:#7195a8:#935c25:#c1e4f6:#7ea2b4:#5a7b8c:#1f292e:#b72dd2:#161b1d"
