# Base16 Windows 95
# Author: Fergus Collins (https://github.com/C-Fergus)

[global_config]
  title_transmit_fg_color = "#a8a8a8"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#a8a8a8"
  title_inactive_bg_color = "#545454"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#000000"
    foreground_color = "#a8a8a8"
    cursor_color = "#a8a8a8"
    palette = "#000000:#fc5454:#54fc54:#fcfc54:#5454fc:#fc54fc:#54fcfc:#a8a8a8:#545454:#a85400:#1C1C1C:#383838:#7e7e7e:#d2d2d2:#00a800:#fcfcfc"
