# Base16 Atelier Cave
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#8b8792"
  title_transmit_bg_color = "#19171c"
  title_inactive_fg_color = "#8b8792"
  title_inactive_bg_color = "#655f6d"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#19171c"
    foreground_color = "#8b8792"
    cursor_color = "#8b8792"
    palette = "#19171c:#be4678:#2a9292:#a06e3b:#576ddb:#955ae7:#398bc6:#8b8792:#655f6d:#aa573c:#26232a:#585260:#7e7887:#e2dfe7:#bf40bf:#efecf4"
