# Base16 Solar Flare Light
# Author: Chuck Harmston (https://chuck.harmston.ch)

[global_config]
  title_transmit_fg_color = "#586875"
  title_transmit_bg_color = "#F5F7FA"
  title_inactive_fg_color = "#586875"
  title_inactive_bg_color = "#85939E"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#F5F7FA"
    foreground_color = "#586875"
    cursor_color = "#586875"
    palette = "#F5F7FA:#EF5253:#7CC844:#E4B51C:#33B5E1:#A363D5:#52CBB0:#586875:#85939E:#E66B2B:#E8E9ED:#A6AFB8:#667581:#222E38:#D73C9A:#18262F"
