# Base16 OneDark
# Author: Lalit Magant (http://github.com/tilal6991)

[global_config]
  title_transmit_fg_color = "#abb2bf"
  title_transmit_bg_color = "#282c34"
  title_inactive_fg_color = "#abb2bf"
  title_inactive_bg_color = "#545862"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#282c34"
    foreground_color = "#abb2bf"
    cursor_color = "#abb2bf"
    palette = "#282c34:#e06c75:#98c379:#e5c07b:#61afef:#c678dd:#56b6c2:#abb2bf:#545862:#d19a66:#353b45:#3e4451:#565c64:#b6bdca:#be5046:#c8ccd4"
