# Base16 Snazzy
# Author: Chawye Hsu (https://github.com/chawyehsu) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)

[global_config]
  title_transmit_fg_color = "#e2e4e5"
  title_transmit_bg_color = "#282a36"
  title_inactive_fg_color = "#e2e4e5"
  title_inactive_bg_color = "#78787e"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#282a36"
    foreground_color = "#e2e4e5"
    cursor_color = "#e2e4e5"
    palette = "#282a36:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#e2e4e5:#78787e:#ff9f43:#34353e:#43454f:#a5a5a9:#eff0eb:#b2643c:#f1f1f0"
