# Base16 Icy Dark
# Author: icyphox (https://icyphox.ga)

[global_config]
  title_transmit_fg_color = "#095b67"
  title_transmit_bg_color = "#021012"
  title_inactive_fg_color = "#095b67"
  title_inactive_bg_color = "#052e34"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#021012"
    foreground_color = "#095b67"
    cursor_color = "#095b67"
    palette = "#021012:#16c1d9:#4dd0e1:#80deea:#00bcd4:#00acc1:#26c6da:#095b67:#052e34:#b3ebf2:#031619:#041f23:#064048:#0c7c8c:#0097a7:#109cb0"
