# Base16 Atelier Cave Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#585260"
  title_transmit_bg_color = "#efecf4"
  title_inactive_fg_color = "#585260"
  title_inactive_bg_color = "#7e7887"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#efecf4"
    foreground_color = "#585260"
    cursor_color = "#585260"
    palette = "#efecf4:#be4678:#2a9292:#a06e3b:#576ddb:#955ae7:#398bc6:#585260:#7e7887:#aa573c:#e2dfe7:#8b8792:#655f6d:#26232a:#bf40bf:#19171c"
