# Base16 Equilibrium Dark
# Author: Carlo Abelli

[global_config]
  title_transmit_fg_color = "#afaba2"
  title_transmit_bg_color = "#0c1118"
  title_inactive_fg_color = "#afaba2"
  title_inactive_bg_color = "#7b776e"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#0c1118"
    foreground_color = "#afaba2"
    cursor_color = "#afaba2"
    palette = "#0c1118:#f04339:#7f8b00:#bb8801:#008dd1:#6a7fd2:#00948b:#afaba2:#7b776e:#df5923:#181c22:#22262d:#949088:#cac6bd:#e3488e:#e7e2d9"
