# Base16 tender
# Author: Jacobo Tabernero (https://github/com/jacoborus/tender.vim)

[global_config]
  title_transmit_fg_color = "#eeeeee"
  title_transmit_bg_color = "#282828"
  title_inactive_fg_color = "#eeeeee"
  title_inactive_bg_color = "#4c4c4c"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#282828"
    foreground_color = "#eeeeee"
    cursor_color = "#eeeeee"
    palette = "#282828:#f43753:#c9d05c:#ffc24b:#b3deef:#d3b987:#73cef4:#eeeeee:#4c4c4c:#dc9656:#383838:#484848:#b8b8b8:#e8e8e8:#a16946:#feffff"
