# Base16 Solarized Light
# Author: Ethan Schoonover (modified by aramisgithub)

[global_config]
  title_transmit_fg_color = "#586e75"
  title_transmit_bg_color = "#fdf6e3"
  title_inactive_fg_color = "#586e75"
  title_inactive_bg_color = "#839496"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#fdf6e3"
    foreground_color = "#586e75"
    cursor_color = "#586e75"
    palette = "#fdf6e3:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#586e75:#839496:#cb4b16:#eee8d5:#93a1a1:#657b83:#073642:#d33682:#002b36"
