# Base16 DanQing
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

[global_config]
  title_transmit_fg_color = "#e0f0eF"
  title_transmit_bg_color = "#2d302f"
  title_inactive_fg_color = "#e0f0eF"
  title_inactive_bg_color = "#9da8a3"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2d302f"
    foreground_color = "#e0f0eF"
    cursor_color = "#e0f0eF"
    palette = "#2d302f:#F9906F:#8AB361:#F0C239:#B0A4E3:#CCA4E3:#30DFF3:#e0f0eF:#9da8a3:#B38A61:#434846:#5a605d:#cad8d2:#ecf6f2:#CA6924:#fcfefd"
