# Base16 Green Screen
# Author: Chris Kempson (http://chriskempson.com)

[global_config]
  title_transmit_fg_color = "#00bb00"
  title_transmit_bg_color = "#001100"
  title_inactive_fg_color = "#00bb00"
  title_inactive_bg_color = "#007700"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#001100"
    foreground_color = "#00bb00"
    cursor_color = "#00bb00"
    palette = "#001100:#007700:#00bb00:#007700:#009900:#00bb00:#005500:#00bb00:#007700:#009900:#003300:#005500:#009900:#00dd00:#005500:#00ff00"
