# Base16 iA Light
# Author: iA Inc. (modified by aramisgithub)

[global_config]
  title_transmit_fg_color = "#181818"
  title_transmit_bg_color = "#f6f6f6"
  title_inactive_fg_color = "#181818"
  title_inactive_bg_color = "#898989"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f6f6f6"
    foreground_color = "#181818"
    cursor_color = "#181818"
    palette = "#f6f6f6:#9c5a02:#38781c:#c48218:#48bac2:#a94598:#2d6bb1:#181818:#898989:#c43e18:#dedede:#bde5f2:#767676:#e8e8e8:#8b6c37:#f8f8f8"
