# Base16 Windows 95 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

[global_config]
  title_transmit_fg_color = "#545454"
  title_transmit_bg_color = "#fcfcfc"
  title_inactive_fg_color = "#545454"
  title_inactive_bg_color = "#a8a8a8"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#fcfcfc"
    foreground_color = "#545454"
    cursor_color = "#545454"
    palette = "#fcfcfc:#a80000:#00a800:#a85400:#0000a8:#a800a8:#00a8a8:#545454:#a8a8a8:#fcfc54:#e0e0e0:#c4c4c4:#7e7e7e:#2a2a2a:#54fc54:#000000"
