# Base16 PaperColor Dark
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

[global_config]
  title_transmit_fg_color = "#808080"
  title_transmit_bg_color = "#1c1c1c"
  title_inactive_fg_color = "#808080"
  title_inactive_bg_color = "#d7af5f"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1c1c1c"
    foreground_color = "#808080"
    cursor_color = "#808080"
    palette = "#1c1c1c:#585858:#af87d7:#afd700:#ff5faf:#00afaf:#ffaf00:#808080:#d7af5f:#5faf5f:#af005f:#5faf00:#5fafd7:#d7875f:#5f8787:#d0d0d0"
