# Base16 Cupcake
# Author: Chris Kempson (http://chriskempson.com)

[global_config]
  title_transmit_fg_color = "#8b8198"
  title_transmit_bg_color = "#fbf1f2"
  title_inactive_fg_color = "#8b8198"
  title_inactive_bg_color = "#bfb9c6"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#fbf1f2"
    foreground_color = "#8b8198"
    cursor_color = "#8b8198"
    palette = "#fbf1f2:#D57E85:#A3B367:#DCB16C:#7297B9:#BB99B4:#69A9A7:#8b8198:#bfb9c6:#EBB790:#f2f1f4:#d8d5dd:#a59daf:#72677E:#BAA58C:#585062"
