# Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

[global_config]
  title_transmit_fg_color = "#C5D4DD"
  title_transmit_bg_color = "#3C4C55"
  title_inactive_fg_color = "#C5D4DD"
  title_inactive_bg_color = "#899BA6"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#3C4C55"
    foreground_color = "#C5D4DD"
    cursor_color = "#C5D4DD"
    palette = "#3C4C55:#83AFE5:#7FC1CA:#A8CE93:#83AFE5:#9A93E1:#F2C38F:#C5D4DD:#899BA6:#7FC1CA:#556873:#6A7D89:#899BA6:#899BA6:#F2C38F:#556873"
