# Base16 Classic Light
# Author: Jason Heeris (http://heeris.id.au)

[global_config]
  title_transmit_fg_color = "#303030"
  title_transmit_bg_color = "#F5F5F5"
  title_inactive_fg_color = "#303030"
  title_inactive_bg_color = "#B0B0B0"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#F5F5F5"
    foreground_color = "#303030"
    cursor_color = "#303030"
    palette = "#F5F5F5:#AC4142:#90A959:#F4BF75:#6A9FB5:#AA759F:#75B5AA:#303030:#B0B0B0:#D28445:#E0E0E0:#D0D0D0:#505050:#202020:#8F5536:#151515"
