# Base16 Rosé Pine Moon
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

[global_config]
  title_transmit_fg_color = "#e0def4"
  title_transmit_bg_color = "#232136"
  title_inactive_fg_color = "#e0def4"
  title_inactive_bg_color = "#59546d"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#232136"
    foreground_color = "#e0def4"
    cursor_color = "#e0def4"
    palette = "#232136:#ecebf0:#ea9a97:#f6c177:#9ccfd8:#c4a7e7:#3e8fb0:#e0def4:#59546d:#eb6f92:#2a273f:#393552:#817c9c:#f5f5f7:#b9b9bc:#d9d7e1"
