# Base16 Zenburn
# Author: elnawe

[global_config]
  title_transmit_fg_color = "#dcdccc"
  title_transmit_bg_color = "#383838"
  title_inactive_fg_color = "#dcdccc"
  title_inactive_bg_color = "#6f6f6f"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#383838"
    foreground_color = "#dcdccc"
    cursor_color = "#dcdccc"
    palette = "#383838:#dca3a3:#5f7f5f:#e0cf9f:#7cb8bb:#dc8cc3:#93e0e3:#dcdccc:#6f6f6f:#dfaf8f:#404040:#606060:#808080:#c0c0c0:#000000:#ffffff"
