# Base16 Pico
# Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)

[global_config]
  title_transmit_fg_color = "#5f574f"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#5f574f"
  title_inactive_bg_color = "#008751"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#000000"
    foreground_color = "#5f574f"
    cursor_color = "#5f574f"
    palette = "#000000:#ff004d:#00e756:#fff024:#83769c:#ff77a8:#29adff:#5f574f:#008751:#ffa300:#1d2b53:#7e2553:#ab5236:#c2c3c7:#ffccaa:#fff1e8"
