# Base16 Windows NT
# Author: Fergus Collins (https://github.com/C-Fergus)

[global_config]
  title_transmit_fg_color = "#c0c0c0"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#c0c0c0"
  title_inactive_bg_color = "#808080"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#000000"
    foreground_color = "#c0c0c0"
    cursor_color = "#c0c0c0"
    palette = "#000000:#ff0000:#00ff00:#ffff00:#0000ff:#ff00ff:#00ffff:#c0c0c0:#808080:#808000:#2a2a2a:#555555:#a1a1a1:#e0e0e0:#008000:#ffffff"
