# Base16 srcery
# Author: 

[global_config]
  title_transmit_fg_color = "#BAA67F"
  title_transmit_bg_color = "#1C1B19"
  title_inactive_fg_color = "#BAA67F"
  title_inactive_bg_color = "#918175"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1C1B19"
    foreground_color = "#BAA67F"
    cursor_color = "#BAA67F"
    palette = "#1C1B19:#EF2F27:#519F50:#FBB829:#2C78BF:#E02C6D:#0AAEB3:#BAA67F:#918175:#FF5F00:#98BC37:#FED06E:#68A8E4:#FF5C8F:#2BE4D0:#FCE8C3"
