# Base16 Codeschool
# Author: blockloop

[global_config]
  title_transmit_fg_color = "#9ea7a6"
  title_transmit_bg_color = "#232c31"
  title_inactive_fg_color = "#9ea7a6"
  title_inactive_bg_color = "#3f4944"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#232c31"
    foreground_color = "#9ea7a6"
    cursor_color = "#9ea7a6"
    palette = "#232c31:#2a5491:#237986:#a03b1e:#484d79:#c59820:#b02f30:#9ea7a6:#3f4944:#43820d:#1c3657:#2a343a:#84898c:#a7cfa3:#c98344:#b5d8f6"
