# Base16 Dark Violet
# Author: ruler501 (https://github.com/ruler501/base16-darkviolet)

[global_config]
  title_transmit_fg_color = "#b08ae6"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#b08ae6"
  title_inactive_bg_color = "#593380"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#000000"
    foreground_color = "#b08ae6"
    cursor_color = "#b08ae6"
    palette = "#000000:#a82ee6:#4595e6:#f29df2:#4136d9:#7e5ce6:#40dfff:#b08ae6:#593380:#bb66cc:#231a40:#432d59:#00ff00:#9045e6:#a886bf:#a366ff"
