# Base16 Vice Alt
# Author: Thomas Leon Highbaugh

[global_config]
  title_transmit_fg_color = "#d7afff"
  title_transmit_bg_color = "#303030"
  title_inactive_fg_color = "#d7afff"
  title_inactive_bg_color = "#875faf"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#303030"
    foreground_color = "#d7afff"
    cursor_color = "#d7afff"
    palette = "#303030:#ff005f:#87ffff:#ffffaf:#afffff:#d7afff:#00ffaf:#d7afff:#875faf:#ff00ff:#444444:#878787:#afafd7:#ffffff:#ff87d7:#afffd7"
