# Base16 Equilibrium Gray Dark
# Author: Carlo Abelli

[global_config]
  title_transmit_fg_color = "#ababab"
  title_transmit_bg_color = "#111111"
  title_inactive_fg_color = "#ababab"
  title_inactive_bg_color = "#777777"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#111111"
    foreground_color = "#ababab"
    cursor_color = "#ababab"
    palette = "#111111:#f04339:#7f8b00:#bb8801:#008dd1:#6a7fd2:#00948b:#ababab:#777777:#df5923:#1b1b1b:#262626:#919191:#c6c6c6:#e3488e:#e2e2e2"
