# Base16 Helios
# Author: Alex Meyer (https://github.com/reyemxela)

[global_config]
  title_transmit_fg_color = "#d5d5d5"
  title_transmit_bg_color = "#1d2021"
  title_inactive_fg_color = "#d5d5d5"
  title_inactive_bg_color = "#6f7579"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1d2021"
    foreground_color = "#d5d5d5"
    cursor_color = "#d5d5d5"
    palette = "#1d2021:#d72638:#88b92d:#f19d1a:#1e8bac:#be4264:#1ba595:#d5d5d5:#6f7579:#eb8413:#383c3e:#53585b:#cdcdcd:#dddddd:#c85e0d:#e5e5e5"
