# Base16 Vice Dark
# Author: Thomas Leon Highbaugh

[global_config]
  title_transmit_fg_color = "#818181"
  title_transmit_bg_color = "#181818"
  title_inactive_fg_color = "#818181"
  title_inactive_bg_color = "#3f3f3f"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#181818"
    foreground_color = "#818181"
    cursor_color = "#818181"
    palette = "#181818:#ff29a8:#0badff:#f0ffaa:#00eaff:#00f6d9:#8265ff:#818181:#3f3f3f:#85ffe0:#222222:#323232:#666666:#c6c6c6:#ff3d81:#e9e9e9"
