# Base16 Porple
# Author: Niek den Breeje (https://github.com/AuditeMarlow)

[global_config]
  title_transmit_fg_color = "#d8d8d8"
  title_transmit_bg_color = "#292c36"
  title_inactive_fg_color = "#d8d8d8"
  title_inactive_bg_color = "#65568a"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#292c36"
    foreground_color = "#d8d8d8"
    cursor_color = "#d8d8d8"
    palette = "#292c36:#f84547:#95c76f:#efa16b:#8485ce:#b74989:#64878f:#d8d8d8:#65568a:#d28e5d:#333344:#474160:#b8b8b8:#e8e8e8:#986841:#f8f8f8"
