# Base16 PhD
# Author: Hennig Hasemann (http://leetless.de/vim.html)

[global_config]
  title_transmit_fg_color = "#b8bbc2"
  title_transmit_bg_color = "#061229"
  title_inactive_fg_color = "#b8bbc2"
  title_inactive_bg_color = "#717885"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#061229"
    foreground_color = "#b8bbc2"
    cursor_color = "#b8bbc2"
    palette = "#061229:#d07346:#99bf52:#fbd461:#5299bf:#9989cc:#72b9bf:#b8bbc2:#717885:#f0a000:#2a3448:#4d5666:#9a99a3:#dbdde0:#b08060:#ffffff"
