# Base16 Atelier Seaside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#5e6e5e"
  title_transmit_bg_color = "#f4fbf4"
  title_inactive_fg_color = "#5e6e5e"
  title_inactive_bg_color = "#809980"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f4fbf4"
    foreground_color = "#5e6e5e"
    cursor_color = "#5e6e5e"
    palette = "#f4fbf4:#e6193c:#29a329:#98981b:#3d62f5:#ad2bee:#1999b3:#5e6e5e:#809980:#87711d:#cfe8cf:#8ca68c:#687d68:#242924:#e619c3:#131513"
