# Base16 Rosé Pine Dawn
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

[global_config]
  title_transmit_fg_color = "#575279"
  title_transmit_bg_color = "#faf4ed"
  title_inactive_fg_color = "#575279"
  title_inactive_bg_color = "#9893a5"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#faf4ed"
    foreground_color = "#575279"
    cursor_color = "#575279"
    palette = "#faf4ed:#1f1d2e:#d7827e:#ea9d34:#56949f:#907aa9:#286983:#575279:#9893a5:#b4637a:#fffaf3:#f2e9de:#6e6a86:#555169:#c5c3ce:#26233a"
