# Base16 Gruvbox dark, pale
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

[global_config]
  title_transmit_fg_color = "#dab997"
  title_transmit_bg_color = "#262626"
  title_inactive_fg_color = "#dab997"
  title_inactive_bg_color = "#8a8a8a"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#262626"
    foreground_color = "#dab997"
    cursor_color = "#dab997"
    palette = "#262626:#d75f5f:#afaf00:#ffaf00:#83adad:#d485ad:#85ad85:#dab997:#8a8a8a:#ff8700:#3a3a3a:#4e4e4e:#949494:#d5c4a1:#d65d0e:#ebdbb2"
