# Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)

[global_config]
  title_transmit_fg_color = "#D0D0D0"
  title_transmit_bg_color = "#181818"
  title_inactive_fg_color = "#D0D0D0"
  title_inactive_bg_color = "#747474"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#181818"
    foreground_color = "#D0D0D0"
    cursor_color = "#D0D0D0"
    palette = "#181818:#FD886B:#32CCDC:#FECB6E:#20BCFC:#BA8CFC:#ACDDFD:#D0D0D0:#747474:#FC4769:#151515:#464646:#B9B9B9:#E8E8E8:#B15F4A:#EEEEEE"
