# Base16 Windows NT Light
# Author: Fergus Collins (https://github.com/C-Fergus)

[global_config]
  title_transmit_fg_color = "#808080"
  title_transmit_bg_color = "#ffffff"
  title_inactive_fg_color = "#808080"
  title_inactive_bg_color = "#c0c0c0"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#ffffff"
    foreground_color = "#808080"
    cursor_color = "#808080"
    palette = "#ffffff:#800000:#008000:#808000:#000080:#800080:#008080:#808080:#c0c0c0:#ffff00:#eaeaea:#d5d5d5:#a0a0a0:#404040:#00ff00:#000000"
