# Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)

[global_config]
  title_transmit_fg_color = "#D0D0FA"
  title_transmit_bg_color = "#00002A"
  title_inactive_fg_color = "#D0D0FA"
  title_inactive_bg_color = "#50507A"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#00002A"
    foreground_color = "#D0D0FA"
    cursor_color = "#D0D0FA"
    palette = "#00002A:#FF4242:#59F176:#F3E877:#66B0FF:#F10596:#0EF0F0:#D0D0FA:#50507A:#FC8D28:#20204A:#30305A:#B0B0DA:#E0E0FF:#F003EF:#F5F5FF"
