# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

[global_config]
  title_transmit_fg_color = "#403C3D"
  title_transmit_bg_color = "#FDF0ED"
  title_inactive_fg_color = "#403C3D"
  title_inactive_bg_color = "#BDB3B1"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#FDF0ED"
    foreground_color = "#403C3D"
    cursor_color = "#403C3D"
    palette = "#FDF0ED:#F7939B:#94E1B0:#FBE0D9:#DA103F:#1D8991:#DC3318:#403C3D:#BDB3B1:#F6661E:#FADAD1:#F9CBBE:#948C8A:#302C2D:#E58C92:#201C1D"
