# Base16 Atelier Heath
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#ab9bab"
  title_transmit_bg_color = "#1b181b"
  title_inactive_fg_color = "#ab9bab"
  title_inactive_bg_color = "#776977"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1b181b"
    foreground_color = "#ab9bab"
    cursor_color = "#ab9bab"
    palette = "#1b181b:#ca402b:#918b3b:#bb8a35:#516aec:#7b59c0:#159393:#ab9bab:#776977:#a65926:#292329:#695d69:#9e8f9e:#d8cad8:#cc33cc:#f7f3f7"
