# Base16 Macintosh
# Author: Rebecca Bettencourt (http://www.kreativekorp.com)

[global_config]
  title_transmit_fg_color = "#c0c0c0"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#c0c0c0"
  title_inactive_bg_color = "#808080"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#000000"
    foreground_color = "#c0c0c0"
    cursor_color = "#c0c0c0"
    palette = "#000000:#dd0907:#1fb714:#fbf305:#0000d3:#4700a5:#02abea:#c0c0c0:#808080:#ff6403:#404040:#404040:#808080:#c0c0c0:#90713a:#ffffff"
