# Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

[global_config]
  title_transmit_fg_color = "#939599"
  title_transmit_bg_color = "#282B35"
  title_inactive_fg_color = "#939599"
  title_inactive_bg_color = "#686A71"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#282B35"
    foreground_color = "#939599"
    cursor_color = "#939599"
    palette = "#282B35:#B21889:#DF0002:#438288:#790EAD:#B21889:#00A0BE:#939599:#686A71:#786DC5:#3D4048:#53555D:#7E8086:#A9AAAE:#C77C48:#BEBFC2"
