# Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)

[global_config]
  title_transmit_fg_color = "#A39A90"
  title_transmit_bg_color = "#16130F"
  title_inactive_fg_color = "#A39A90"
  title_inactive_bg_color = "#5A5047"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#16130F"
    foreground_color = "#A39A90"
    cursor_color = "#A39A90"
    palette = "#16130F:#826D57:#57826D:#6D8257:#6D5782:#82576D:#576D82:#A39A90:#5A5047:#828257:#2C2620:#433B32:#8A8075:#BEB6AE:#825757:#DBD6D1"
