# Base16 Windows 10
# Author: Fergus Collins (https://github.com/C-Fergus)

[global_config]
  title_transmit_fg_color = "#cccccc"
  title_transmit_bg_color = "#0c0c0c"
  title_inactive_fg_color = "#cccccc"
  title_inactive_bg_color = "#767676"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#0c0c0c"
    foreground_color = "#cccccc"
    cursor_color = "#cccccc"
    palette = "#0c0c0c:#e74856:#16c60c:#f9f1a5:#3b78ff:#b4009e:#61d6d6:#cccccc:#767676:#c19c00:#2f2f2f:#535353:#b9b9b9:#dfdfdf:#13a10e:#f2f2f2"
