# Base16 Tomorrow Night
# Author: Chris Kempson (http://chriskempson.com)

[global_config]
  title_transmit_fg_color = "#cccccc"
  title_transmit_bg_color = "#2d2d2d"
  title_inactive_fg_color = "#cccccc"
  title_inactive_bg_color = "#999999"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2d2d2d"
    foreground_color = "#cccccc"
    cursor_color = "#cccccc"
    palette = "#2d2d2d:#f2777a:#99cc99:#ffcc66:#6699cc:#cc99cc:#66cccc:#cccccc:#999999:#f99157:#393939:#515151:#b4b7b4:#e0e0e0:#a3685a:#ffffff"
