# Base16 Windows 10 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

[global_config]
  title_transmit_fg_color = "#767676"
  title_transmit_bg_color = "#f2f2f2"
  title_inactive_fg_color = "#767676"
  title_inactive_bg_color = "#cccccc"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f2f2f2"
    foreground_color = "#767676"
    cursor_color = "#767676"
    palette = "#f2f2f2:#c50f1f:#13a10e:#c19c00:#0037da:#881798:#3a96dd:#767676:#cccccc:#f9f1a5:#e5e5e5:#d9d9d9:#ababab:#414141:#16c60c:#0c0c0c"
