# Base16 Gigavolt
# Author: Aidan Swope (http://github.com/Whillikers)

[global_config]
  title_transmit_fg_color = "#e9e7e1"
  title_transmit_bg_color = "#202126"
  title_inactive_fg_color = "#e9e7e1"
  title_inactive_bg_color = "#a1d2e6"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#202126"
    foreground_color = "#e9e7e1"
    cursor_color = "#e9e7e1"
    palette = "#202126:#ff661a:#f2e6a9:#ffdc2d:#40bfff:#ae94f9:#fb6acb:#e9e7e1:#a1d2e6:#19f988:#2d303d:#5a576e:#cad3ff:#eff0f9:#6187ff:#f2fbff"
