# Base16 Harmonic16 Dark
# Author: Jannik Siebert (https://github.com/janniks)

[global_config]
  title_transmit_fg_color = "#cbd6e2"
  title_transmit_bg_color = "#0b1c2c"
  title_inactive_fg_color = "#cbd6e2"
  title_inactive_bg_color = "#627e99"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#0b1c2c"
    foreground_color = "#cbd6e2"
    cursor_color = "#cbd6e2"
    palette = "#0b1c2c:#bf8b56:#56bf8b:#8bbf56:#8b56bf:#bf568b:#568bbf:#cbd6e2:#627e99:#bfbf56:#223b54:#405c79:#aabcce:#e5ebf1:#bf5656:#f7f9fb"
