# Base16 London Tube
# Author: Jan T. Sott

[global_config]
  title_transmit_fg_color = "#d9d8d8"
  title_transmit_bg_color = "#231f20"
  title_inactive_fg_color = "#d9d8d8"
  title_inactive_bg_color = "#737171"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#231f20"
    foreground_color = "#d9d8d8"
    cursor_color = "#d9d8d8"
    palette = "#231f20:#ee2e24:#00853e:#ffd204:#009ddc:#98005d:#85cebc:#d9d8d8:#737171:#f386a1:#1c3f95:#5a5758:#959ca1:#e7e7e8:#b06110:#ffffff"
