# Base16 Humanoid dark
# Author: Thomas (tasmo) Friese

[global_config]
  title_transmit_fg_color = "#f8f8f2"
  title_transmit_bg_color = "#232629"
  title_inactive_fg_color = "#f8f8f2"
  title_inactive_bg_color = "#60615d"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#232629"
    foreground_color = "#f8f8f2"
    cursor_color = "#f8f8f2"
    palette = "#232629:#f11235:#02d849:#ffb627:#00a6fb:#f15ee3:#0dd9d6:#f8f8f2:#60615d:#ff9505:#333b3d:#484e54:#c0c0bd:#fcfcf6:#b27701:#fcfcfc"
