# Base16 Cupertino
# Author: Defman21

[global_config]
  title_transmit_fg_color = "#404040"
  title_transmit_bg_color = "#ffffff"
  title_inactive_fg_color = "#404040"
  title_inactive_bg_color = "#808080"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#ffffff"
    foreground_color = "#404040"
    cursor_color = "#404040"
    palette = "#ffffff:#c41a15:#007400:#826b28:#0000ff:#a90d91:#318495:#404040:#808080:#eb8500:#c0c0c0:#c0c0c0:#808080:#404040:#826b28:#5e5e5e"
