# Base16 Atelier Plateau Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#585050"
  title_transmit_bg_color = "#f4ecec"
  title_inactive_fg_color = "#585050"
  title_inactive_bg_color = "#7e7777"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f4ecec"
    foreground_color = "#585050"
    cursor_color = "#585050"
    palette = "#f4ecec:#ca4949:#4b8b8b:#a06e3b:#7272ca:#8464c4:#5485b6:#585050:#7e7777:#b45a3c:#e7dfdf:#8a8585:#655d5d:#292424:#bd5187:#1b1818"
