# Base16 Decaf
# Author: Alex Mirrington (https://github.com/alexmirrington)

[global_config]
  title_transmit_fg_color = "#cccccc"
  title_transmit_bg_color = "#2d2d2d"
  title_inactive_fg_color = "#cccccc"
  title_inactive_bg_color = "#777777"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2d2d2d"
    foreground_color = "#cccccc"
    cursor_color = "#cccccc"
    palette = "#2d2d2d:#ff7f7b:#beda78:#ffd67c:#90bee1:#efb3f7:#bed6ff:#cccccc:#777777:#ffbf70:#393939:#515151:#b4b7b4:#e0e0e0:#ff93b3:#ffffff"
