# Base16 iA Dark
# Author: iA Inc. (modified by aramisgithub)

[global_config]
  title_transmit_fg_color = "#cccccc"
  title_transmit_bg_color = "#1a1a1a"
  title_inactive_fg_color = "#cccccc"
  title_inactive_bg_color = "#767676"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1a1a1a"
    foreground_color = "#cccccc"
    cursor_color = "#cccccc"
    palette = "#1a1a1a:#d88568:#83a471:#b99353:#8eccdd:#b98eb2:#7c9cae:#cccccc:#767676:#d86868:#222222:#1d414d:#b8b8b8:#e8e8e8:#8b6c37:#f8f8f8"
