# Base16 Atelier Estuary
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#929181"
  title_transmit_bg_color = "#22221b"
  title_inactive_fg_color = "#929181"
  title_inactive_bg_color = "#6c6b5a"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#22221b"
    foreground_color = "#929181"
    cursor_color = "#929181"
    palette = "#22221b:#ba6236:#7d9726:#a5980d:#36a166:#5f9182:#5b9d48:#929181:#6c6b5a:#ae7313:#302f27:#5f5e4e:#878573:#e7e6df:#9d6c7c:#f4f3ec"
