# Base16 Unikitty Dark
# Author: Josh W Lewis (@joshwlewis)

[global_config]
  title_transmit_fg_color = "#bcbabe"
  title_transmit_bg_color = "#2e2a31"
  title_inactive_fg_color = "#bcbabe"
  title_inactive_bg_color = "#838085"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2e2a31"
    foreground_color = "#bcbabe"
    cursor_color = "#bcbabe"
    palette = "#2e2a31:#d8137f:#17ad98:#dc8a0e:#796af5:#bb60ea:#149bda:#bcbabe:#838085:#d65407:#4a464d:#666369:#9f9da2:#d8d7da:#c720ca:#f5f4f7"
