# Base16 Synth Midnight Terminal Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

[global_config]
  title_transmit_fg_color = "#c1c3c4"
  title_transmit_bg_color = "#050608"
  title_inactive_fg_color = "#c1c3c4"
  title_inactive_bg_color = "#474849"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#050608"
    foreground_color = "#c1c3c4"
    cursor_color = "#c1c3c4"
    palette = "#050608:#b53b50:#06ea61:#c9d364:#03aeff:#ea5ce2:#42fff9:#c1c3c4:#474849:#ea770d:#1a1b1c:#28292a:#a3a5a6:#cfd1d2:#cd6320:#dddfe0"
