# Base16 Marrakesh
# Author: Alexandre Gavioli (http://github.com/Alexx2/)

[global_config]
  title_transmit_fg_color = "#948e48"
  title_transmit_bg_color = "#201602"
  title_inactive_fg_color = "#948e48"
  title_inactive_bg_color = "#6c6823"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#201602"
    foreground_color = "#948e48"
    cursor_color = "#948e48"
    palette = "#201602:#c35359:#18974e:#a88339:#477ca1:#8868b3:#75a738:#948e48:#6c6823:#b36144:#302e00:#5f5b17:#86813b:#ccc37a:#b3588e:#faf0a5"
