# Base16 Atelier Lakeside
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#7ea2b4"
  title_transmit_bg_color = "#161b1d"
  title_inactive_fg_color = "#7ea2b4"
  title_inactive_bg_color = "#5a7b8c"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#161b1d"
    foreground_color = "#7ea2b4"
    cursor_color = "#7ea2b4"
    palette = "#161b1d:#d22d72:#568c3b:#8a8a0f:#257fad:#6b6bb8:#2d8f6f:#7ea2b4:#5a7b8c:#935c25:#1f292e:#516d7b:#7195a8:#c1e4f6:#b72dd2:#ebf8ff"
