# Base16 Monokai
# Author: Wimer Hazenberg (http://www.monokai.nl)

[global_config]
  title_transmit_fg_color = "#f8f8f2"
  title_transmit_bg_color = "#272822"
  title_inactive_fg_color = "#f8f8f2"
  title_inactive_bg_color = "#75715e"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#272822"
    foreground_color = "#f8f8f2"
    cursor_color = "#f8f8f2"
    palette = "#272822:#f92672:#a6e22e:#f4bf75:#66d9ef:#ae81ff:#a1efe4:#f8f8f2:#75715e:#fd971f:#383830:#49483e:#a59f85:#f5f4f1:#cc6633:#f9f8f5"
