# Base16 Sagelight
# Author: Carter Veldhuizen

[global_config]
  title_transmit_fg_color = "#383838"
  title_transmit_bg_color = "#f8f8f8"
  title_inactive_fg_color = "#383838"
  title_inactive_bg_color = "#b8b8b8"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f8f8f8"
    foreground_color = "#383838"
    cursor_color = "#383838"
    palette = "#f8f8f8:#fa8480:#a0d2c8:#ffdc61:#a0a7d2:#c8a0d2:#a2d6f5:#383838:#b8b8b8:#ffaa61:#e8e8e8:#d8d8d8:#585858:#282828:#d2b2a0:#181818"
