# Base16 Atelier Dune Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#6e6b5e"
  title_transmit_bg_color = "#fefbec"
  title_inactive_fg_color = "#6e6b5e"
  title_inactive_bg_color = "#999580"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#fefbec"
    foreground_color = "#6e6b5e"
    cursor_color = "#6e6b5e"
    palette = "#fefbec:#d73737:#60ac39:#ae9513:#6684e1:#b854d4:#1fad83:#6e6b5e:#999580:#b65611:#e8e4cf:#a6a28c:#7d7a68:#292824:#d43552:#20201d"
