# Base16 Atelier Forest Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#68615e"
  title_transmit_bg_color = "#f1efee"
  title_inactive_fg_color = "#68615e"
  title_inactive_bg_color = "#9c9491"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f1efee"
    foreground_color = "#68615e"
    cursor_color = "#68615e"
    palette = "#f1efee:#f22c40:#7b9726:#c38418:#407ee7:#6666ea:#3d97b8:#68615e:#9c9491:#df5320:#e6e2e0:#a8a19f:#766e6b:#2c2421:#c33ff3:#1b1918"
