# Base16 pinky
# Author: Benjamin (https://github.com/b3nj5m1n)

[global_config]
  title_transmit_fg_color = "#f5f5f5"
  title_transmit_bg_color = "#171517"
  title_inactive_fg_color = "#f5f5f5"
  title_inactive_bg_color = "#383338"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#171517"
    foreground_color = "#f5f5f5"
    cursor_color = "#f5f5f5"
    palette = "#171517:#ffa600:#ff0066:#20df6c:#00ffff:#007fff:#6600ff:#f5f5f5:#383338:#00ff66:#1b181b:#1d1b1d:#e7dbdb:#ffffff:#df206c:#f7f3f7"
