# Base16 Atelier Estuary Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#5f5e4e"
  title_transmit_bg_color = "#f4f3ec"
  title_inactive_fg_color = "#5f5e4e"
  title_inactive_bg_color = "#878573"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f4f3ec"
    foreground_color = "#5f5e4e"
    cursor_color = "#5f5e4e"
    palette = "#f4f3ec:#ba6236:#7d9726:#a5980d:#36a166:#5f9182:#5b9d48:#5f5e4e:#878573:#ae7313:#e7e6df:#929181:#6c6b5a:#302f27:#9d6c7c:#22221b"
