# Base16 Brogrammer
# Author: Vik Ramanujam (http://github.com/piggyslasher)

[global_config]
  title_transmit_fg_color = "#4e5ab7"
  title_transmit_bg_color = "#1f1f1f"
  title_inactive_fg_color = "#4e5ab7"
  title_inactive_bg_color = "#ecba0f"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1f1f1f"
    foreground_color = "#4e5ab7"
    cursor_color = "#4e5ab7"
    palette = "#1f1f1f:#d6dbe5:#f3bd09:#1dd361:#5350b9:#0f7ddb:#1081d6:#4e5ab7:#ecba0f:#de352e:#f81118:#2dc55e:#2a84d2:#1081d6:#ffffff:#d6dbe5"
