# Base16 One Light
# Author: Daniel Pfeifer (http://github.com/purpleKarrot)

[global_config]
  title_transmit_fg_color = "#383a42"
  title_transmit_bg_color = "#fafafa"
  title_inactive_fg_color = "#383a42"
  title_inactive_bg_color = "#a0a1a7"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#fafafa"
    foreground_color = "#383a42"
    cursor_color = "#383a42"
    palette = "#fafafa:#ca1243:#50a14f:#c18401:#4078f2:#a626a4:#0184bc:#383a42:#a0a1a7:#d75f00:#f0f0f1:#e5e5e6:#696c77:#202227:#986801:#090a0b"
