# Base16 Apprentice
# Author: romainl

[global_config]
  title_transmit_fg_color = "#BCBCBC"
  title_transmit_bg_color = "#262626"
  title_inactive_fg_color = "#BCBCBC"
  title_inactive_bg_color = "#6C6C6C"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#262626"
    foreground_color = "#BCBCBC"
    cursor_color = "#BCBCBC"
    palette = "#262626:#5F8787:#87AF87:#5F8787:#FFFFAF:#87AFD7:#5F875F:#BCBCBC:#6C6C6C:#FF8700:#303030:#333333:#787878:#C9C9C9:#5F87AF:#FFFFFF"
