# Base16 Rigel
# Author: Alexander Keliris

[global_config]
  title_transmit_fg_color = "#77929e"
  title_transmit_bg_color = "#00384d"
  title_inactive_fg_color = "#77929e"
  title_inactive_bg_color = "#517f8d"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#00384d"
    foreground_color = "#77929e"
    cursor_color = "#77929e"
    palette = "#00384d:#c43061:#7fc06e:#f08e48:#1c8db2:#c694ff:#00cccc:#77929e:#517f8d:#ff5a67:#9cf087:#ffcc1b:#7eb2dd:#fb94ff:#00ffff:#e6e6dc"
