# Base16 Dracula
# Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

[global_config]
  title_transmit_fg_color = "#e9e9f4"
  title_transmit_bg_color = "#282936"
  title_inactive_fg_color = "#e9e9f4"
  title_inactive_bg_color = "#626483"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#282936"
    foreground_color = "#e9e9f4"
    cursor_color = "#e9e9f4"
    palette = "#282936:#ea51b2:#ebff87:#00f769:#62d6e8:#b45bcf:#a1efe4:#e9e9f4:#626483:#b45bcf:#3a3c4e:#4d4f68:#62d6e8:#f1f2f8:#00f769:#f7f7fb"
