# Base16 Humanoid light
# Author: Thomas (tasmo) Friese

[global_config]
  title_transmit_fg_color = "#232629"
  title_transmit_bg_color = "#f8f8f2"
  title_inactive_fg_color = "#232629"
  title_inactive_bg_color = "#c0c0bd"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f8f8f2"
    foreground_color = "#232629"
    cursor_color = "#232629"
    palette = "#f8f8f2:#b0151a:#388e3c:#ffb627:#0082c9:#700f98:#008e8e:#232629:#c0c0bd:#ff3d00:#efefe9:#deded8:#60615d:#2f3337:#b27701:#070708"
