# Base16 Material Lighter
# Author: Nate Peterson

[global_config]
  title_transmit_fg_color = "#80CBC4"
  title_transmit_bg_color = "#FAFAFA"
  title_inactive_fg_color = "#80CBC4"
  title_inactive_bg_color = "#CCD7DA"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#FAFAFA"
    foreground_color = "#80CBC4"
    cursor_color = "#80CBC4"
    palette = "#FAFAFA:#FF5370:#91B859:#FFB62C:#6182B8:#7C4DFF:#39ADB5:#80CBC4:#CCD7DA:#F76D47:#E7EAEC:#CCEAE7:#8796B0:#80CBC4:#E53935:#FFFFFF"
