# Base16 Nord
# Author: arcticicestudio

[global_config]
  title_transmit_fg_color = "#E5E9F0"
  title_transmit_bg_color = "#2E3440"
  title_inactive_fg_color = "#E5E9F0"
  title_inactive_bg_color = "#4C566A"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2E3440"
    foreground_color = "#E5E9F0"
    cursor_color = "#E5E9F0"
    palette = "#2E3440:#BF616A:#A3BE8C:#EBCB8B:#81A1C1:#B48EAD:#88C0D0:#E5E9F0:#4C566A:#D08770:#3B4252:#434C5E:#D8DEE9:#ECEFF4:#5E81AC:#8FBCBB"
