# Base16 Gruvbox light, hard
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

[global_config]
  title_transmit_fg_color = "#504945"
  title_transmit_bg_color = "#f9f5d7"
  title_inactive_fg_color = "#504945"
  title_inactive_bg_color = "#bdae93"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f9f5d7"
    foreground_color = "#504945"
    cursor_color = "#504945"
    palette = "#f9f5d7:#9d0006:#79740e:#b57614:#076678:#8f3f71:#427b58:#504945:#bdae93:#af3a03:#ebdbb2:#d5c4a1:#665c54:#3c3836:#d65d0e:#282828"
