# Base16 Vice Alt
# Author: Thomas Leon Highbaugh

[global_config]
  title_transmit_fg_color = "#555e70"
  title_transmit_bg_color = "#1b1d24"
  title_inactive_fg_color = "#555e70"
  title_inactive_bg_color = "#323643"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1b1d24"
    foreground_color = "#555e70"
    cursor_color = "#555e70"
    palette = "#1b1d24:#ff3d81:#44ffdd:#ffff73:#2fb1d4:#8265ff:#00caff:#555e70:#323643:#F67544:#282b36:#2f303d:#3f4859:#b2bfd9:#ff00aa:#f4f4f7"
