# Base16 Hopscotch
# Author: Jan T. Sott

[global_config]
  title_transmit_fg_color = "#b9b5b8"
  title_transmit_bg_color = "#322931"
  title_inactive_fg_color = "#b9b5b8"
  title_inactive_bg_color = "#797379"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#322931"
    foreground_color = "#b9b5b8"
    cursor_color = "#b9b5b8"
    palette = "#322931:#dd464c:#8fc13e:#fdcc59:#1290bf:#c85e7c:#149b93:#b9b5b8:#797379:#fd8b19:#433b42:#5c545b:#989498:#d5d3d5:#b33508:#ffffff"
