# Base16 Material Vivid
# Author: joshyrobot

[global_config]
  title_transmit_fg_color = "#80868b"
  title_transmit_bg_color = "#202124"
  title_inactive_fg_color = "#80868b"
  title_inactive_bg_color = "#44464d"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#202124"
    foreground_color = "#80868b"
    cursor_color = "#80868b"
    palette = "#202124:#f44336:#00e676:#ffeb3b:#2196f3:#673ab7:#00bcd4:#80868b:#44464d:#ff9800:#27292c:#323639:#676c71:#9e9e9e:#8d6e63:#ffffff"
