# Base16 Rosé Pine Moon
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;

[global_config]
  title_transmit_fg_color = "#e0def4"
  title_transmit_bg_color = "#232136"
  title_inactive_fg_color = "#e0def4"
  title_inactive_bg_color = "#6e6a86"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#232136"
    foreground_color = "#e0def4"
    cursor_color = "#e0def4"
    palette = "#232136:#eb6f92:#3e8fb0:#ea9a97:#c4a7e7:#f6c177:#9ccfd8:#e0def4:#6e6a86:#f6c177:#2a273f:#393552:#908caa:#e0def4:#56526e:#56526e"
