# Base16 Brush Trees
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

[global_config]
  title_transmit_fg_color = "#6D828E"
  title_transmit_bg_color = "#E3EFEF"
  title_inactive_fg_color = "#6D828E"
  title_inactive_bg_color = "#98AFB5"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#E3EFEF"
    foreground_color = "#6D828E"
    cursor_color = "#6D828E"
    palette = "#E3EFEF:#b38686:#87b386:#aab386:#868cb3:#b386b2:#86b3b3:#6D828E:#98AFB5:#d8bba2:#C9DBDC:#B0C5C8:#8299A1:#5A6D7A:#b39f9f:#485867"
