# Base16 Unikitty Light
# Author: Josh W Lewis (@joshwlewis)

[global_config]
  title_transmit_fg_color = "#6c696e"
  title_transmit_bg_color = "#ffffff"
  title_inactive_fg_color = "#6c696e"
  title_inactive_bg_color = "#a7a5a8"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#ffffff"
    foreground_color = "#6c696e"
    cursor_color = "#6c696e"
    palette = "#ffffff:#d8137f:#17ad98:#dc8a0e:#775dff:#aa17e6:#149bda:#6c696e:#a7a5a8:#d65407:#e1e1e2:#c4c3c5:#89878b:#4f4b51:#e013d0:#322d34"
