# Base16 Shapeshifter
# Author: Tyler Benziger (http://tybenz.com)

[global_config]
  title_transmit_fg_color = "#102015"
  title_transmit_bg_color = "#f9f9f9"
  title_inactive_fg_color = "#102015"
  title_inactive_bg_color = "#555555"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f9f9f9"
    foreground_color = "#102015"
    cursor_color = "#102015"
    palette = "#f9f9f9:#e92f2f:#0ed839:#dddd13:#3b48e3:#f996e2:#23edda:#102015:#555555:#e09448:#e0e0e0:#ababab:#343434:#040404:#69542d:#000000"
