# Base16 Nebula
# Author: Gabriel Fontes (https://github.com/Misterio77)

[global_config]
  title_transmit_fg_color = "#a4a6a9"
  title_transmit_bg_color = "#22273b"
  title_inactive_fg_color = "#a4a6a9"
  title_inactive_bg_color = "#6e6f72"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#22273b"
    foreground_color = "#a4a6a9"
    cursor_color = "#a4a6a9"
    palette = "#22273b:#777abc:#6562a8:#4f9062:#4d6bb6:#716cae:#226f68:#a4a6a9:#6e6f72:#94929e:#414f60:#5a8380:#87888b:#c7c9cd:#8c70a7:#8dbdaa"
