# Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;

[global_config]
  title_transmit_fg_color = "#e0def4"
  title_transmit_bg_color = "#191724"
  title_inactive_fg_color = "#e0def4"
  title_inactive_bg_color = "#6e6a86"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#191724"
    foreground_color = "#e0def4"
    cursor_color = "#e0def4"
    palette = "#191724:#eb6f92:#31748f:#ebbcba:#c4a7e7:#f6c177:#9ccfd8:#e0def4:#6e6a86:#f6c177:#1f1d2e:#26233a:#908caa:#e0def4:#524f67:#524f67"
