# Base16 Harmonic16 Light
# Author: Jannik Siebert (https://github.com/janniks)

[global_config]
  title_transmit_fg_color = "#405c79"
  title_transmit_bg_color = "#f7f9fb"
  title_inactive_fg_color = "#405c79"
  title_inactive_bg_color = "#aabcce"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f7f9fb"
    foreground_color = "#405c79"
    cursor_color = "#405c79"
    palette = "#f7f9fb:#bf8b56:#56bf8b:#8bbf56:#8b56bf:#bf568b:#568bbf:#405c79:#aabcce:#bfbf56:#e5ebf1:#cbd6e2:#627e99:#223b54:#bf5656:#0b1c2c"
