# Base16 Circus
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)

[global_config]
  title_transmit_fg_color = "#a7a7a7"
  title_transmit_bg_color = "#191919"
  title_inactive_fg_color = "#a7a7a7"
  title_inactive_bg_color = "#5f5a60"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#191919"
    foreground_color = "#a7a7a7"
    cursor_color = "#a7a7a7"
    palette = "#191919:#dc657d:#84b97c:#c3ba63:#639ee4:#b888e2:#4bb1a7:#a7a7a7:#5f5a60:#4bb1a7:#202020:#303030:#505050:#808080:#b888e2:#ffffff"
