# Base16 Equilibrium Gray Light
# Author: Carlo Abelli

[global_config]
  title_transmit_fg_color = "#474747"
  title_transmit_bg_color = "#f1f1f1"
  title_inactive_fg_color = "#474747"
  title_inactive_bg_color = "#777777"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#f1f1f1"
    foreground_color = "#474747"
    cursor_color = "#474747"
    palette = "#f1f1f1:#d02023:#637200:#9d6f00:#0073b5:#4e66b6:#007a72:#474747:#777777:#bf3e05:#e2e2e2:#d4d4d4:#5e5e5e:#303030:#c42775:#1b1b1b"
