# Base16 Materia
# Author: Defman21

[global_config]
  title_transmit_fg_color = "#CDD3DE"
  title_transmit_bg_color = "#263238"
  title_inactive_fg_color = "#CDD3DE"
  title_inactive_bg_color = "#707880"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#263238"
    foreground_color = "#CDD3DE"
    cursor_color = "#CDD3DE"
    palette = "#263238:#EC5F67:#8BD649:#FFCC00:#89DDFF:#82AAFF:#80CBC4:#CDD3DE:#707880:#EA9560:#2C393F:#37474F:#C9CCD3:#D5DBE5:#EC5F67:#FFFFFF"
