# Base16 summercamp
# Author: zoe firi (zoefiri.github.io)

[global_config]
  title_transmit_fg_color = "#736e55"
  title_transmit_bg_color = "#1c1810"
  title_inactive_fg_color = "#736e55"
  title_inactive_bg_color = "#504b38"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#1c1810"
    foreground_color = "#736e55"
    cursor_color = "#736e55"
    palette = "#1c1810:#e35142:#5ceb5a:#f2ff27:#489bf0:#FF8080:#5aebbc:#736e55:#504b38:#fba11b:#2a261c:#3a3527:#5f5b45:#bab696:#F69BE7:#f8f5de"
