# Base16 Colors
# Author: mrmrs (http://clrs.cc)

[global_config]
  title_transmit_fg_color = "#bbbbbb"
  title_transmit_bg_color = "#111111"
  title_inactive_fg_color = "#bbbbbb"
  title_inactive_bg_color = "#777777"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#111111"
    foreground_color = "#bbbbbb"
    cursor_color = "#bbbbbb"
    palette = "#111111:#ff4136:#2ecc40:#ffdc00:#0074d9:#b10dc9:#7fdbff:#bbbbbb:#777777:#ff851b:#333333:#555555:#999999:#dddddd:#85144b:#ffffff"
