# Base16 Atelier Seaside
# Author: Bram de Haan (http://atelierbramdehaan.nl)

[global_config]
  title_transmit_fg_color = "#8ca68c"
  title_transmit_bg_color = "#131513"
  title_inactive_fg_color = "#8ca68c"
  title_inactive_bg_color = "#687d68"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#131513"
    foreground_color = "#8ca68c"
    cursor_color = "#8ca68c"
    palette = "#131513:#e6193c:#29a329:#98981b:#3d62f5:#ad2bee:#1999b3:#8ca68c:#687d68:#87711d:#242924:#5e6e5e:#809980:#cfe8cf:#e619c3:#f4fbf4"
