# Base16 Atlas
# Author: Alex Lende (https://ajlende.com)

[global_config]
  title_transmit_fg_color = "#a1a19a"
  title_transmit_bg_color = "#002635"
  title_inactive_fg_color = "#a1a19a"
  title_inactive_bg_color = "#6C8B91"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#002635"
    foreground_color = "#a1a19a"
    cursor_color = "#a1a19a"
    palette = "#002635:#ff5a67:#7fc06e:#ffcc1b:#5dd7b9:#9a70a4:#14747e:#a1a19a:#6C8B91:#f08e48:#00384d:#517F8D:#869696:#e6e6dc:#c43060:#fafaf8"
