/* base16-prism (https://github.com/atelierbram/base16-prism)
 * by Bram de Haan (http://atelierbramdehaan.nl)
 * Solar Flare Light scheme by Chuck Harmston (https://chuck.harmston.ch)
*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #F5F7FA;
  color: #586875;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #667581;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #667581;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #85939E;
}

.token.punctuation {
  color: #586875;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #E66B2B;
}
.token.property {
  color: #E4B51C;
}
.token.tag {
  color: #33B5E1;
}
.token.string {
  color: #52CBB0;
}
.token.selector {
  color: #A363D5;
}
.token.attr-name {
  color: #E66B2B;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #52CBB0;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #7CC844;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #52CBB0;
}

.token.placeholder,
.token.variable {
  color: #33B5E1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #18262F;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #EF5253;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: .4em solid #EF5253;
  outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #E8E9ED;
}

.line-numbers-rows > span:before {
  color: #A6AFB8;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 * alpha transparency in 8 digits hex notation coming to a browser near you soon:
 * https://drafts.csswg.org/css-color/#hex-notation
 */
.line-highlight {
  background: #58687533;
  background: linear-gradient(to right, #58687533 70%, #58687500);
}
