# Scheme name: srcery
# Scheme system: 
# Scheme author: 
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1C1B19'
local color01='#98BC37'
local color02='#FED06E'
local color03='#918175'
local color04='#68A8E4'
local color05='#BAA67F'
local color06='#FF5C8F'
local color07='#FCE8C3'
local color08='#EF2F27'
local color09='#FF5F00'
local color0A='#FBB829'
local color0B='#519F50'
local color0C='#0AAEB3'
local color0D='#2C78BF'
local color0E='#E02C6D'
local color0F='#2BE4D0'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
