# Base16 Spaceduck
# Author: Guillermo Rodriguez (pineapplegiant)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#5ccc96'
local color02='#b3a1e6'
local color03='#686f9a'
local color04='#00a3cc'
local color05='#686f9a'
local color06='#f2ce00'
local color07='#f0f1ce'
local color08='#e33400'
local color09='#e33400'
local color0A='#b3a1e6'
local color0B='#5ccc96'
local color0C='#7a5ccc'
local color0D='#00a3cc'
local color0E='#f2ce00'
local color0F='#7a5ccc'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
