! Base16 Apprentice
! Author: romainl

! base00: #262626
! base01: #AF5F5F
! base02: #5F875F
! base03: #87875F
! base04: #5F87AF
! base05: #5F5F87
! base06: #5F8787
! base07: #6C6C6C
! base08: #444444
! base09: #FF8700
! base0A: #87AF87
! base0B: #FFFFAF
! base0C: #87AFD7
! base0D: #8787AF
! base0E: #5FAFAF
! base0F: #BCBCBC

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #AF5F5F, #AF5F5F, #262626

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #AF5F5F, #5F5F87, #AF5F5F, #AF5F5F, #6C6C6C
rofi.color-active:  #AF5F5F, #8787AF, #AF5F5F, #AF5F5F, #8787AF
rofi.color-urgent:  #AF5F5F, #444444, #AF5F5F, #AF5F5F, #444444

! Set the desired separator style
rofi.separator-style: solid
