! Base16 Rigel
! Author: Alexander Keliris

! base00: #00384d
! base01: #9cf087
! base02: #ffcc1b
! base03: #517f8d
! base04: #7eb2dd
! base05: #77929e
! base06: #fb94ff
! base07: #e6e6dc
! base08: #c43061
! base09: #ff5a67
! base0A: #f08e48
! base0B: #7fc06e
! base0C: #00cccc
! base0D: #1c8db2
! base0E: #c694ff
! base0F: #00ffff

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #9cf087, #9cf087, #00384d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #9cf087, #77929e, #9cf087, #9cf087, #e6e6dc
rofi.color-active:  #9cf087, #1c8db2, #9cf087, #9cf087, #1c8db2
rofi.color-urgent:  #9cf087, #c43061, #9cf087, #9cf087, #c43061

! Set the desired separator style
rofi.separator-style: solid
