! Base16 srcery
! Author: 

! base00: #1C1B19
! base01: #98BC37
! base02: #FED06E
! base03: #918175
! base04: #68A8E4
! base05: #BAA67F
! base06: #FF5C8F
! base07: #FCE8C3
! base08: #EF2F27
! base09: #FF5F00
! base0A: #FBB829
! base0B: #519F50
! base0C: #0AAEB3
! base0D: #2C78BF
! base0E: #E02C6D
! base0F: #2BE4D0

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #98BC37, #98BC37, #1C1B19

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #98BC37, #BAA67F, #98BC37, #98BC37, #FCE8C3
rofi.color-active:  #98BC37, #2C78BF, #98BC37, #98BC37, #2C78BF
rofi.color-urgent:  #98BC37, #EF2F27, #98BC37, #98BC37, #EF2F27

! Set the desired separator style
rofi.separator-style: solid
