## Base16 Rigel
# Author: Alexander Keliris
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #00384d
set $base01 #9cf087
set $base02 #ffcc1b
set $base03 #517f8d
set $base04 #7eb2dd
set $base05 #77929e
set $base06 #fb94ff
set $base07 #e6e6dc
set $base08 #c43061
set $base09 #ff5a67
set $base0A #f08e48
set $base0B #7fc06e
set $base0C #00cccc
set $base0D #1c8db2
set $base0E #c694ff
set $base0F #00ffff
