## Base16 srcery
# Author: 
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1C1B19
set $base01 #98BC37
set $base02 #FED06E
set $base03 #918175
set $base04 #68A8E4
set $base05 #BAA67F
set $base06 #FF5C8F
set $base07 #FCE8C3
set $base08 #EF2F27
set $base09 #FF5F00
set $base0A #FBB829
set $base0B #519F50
set $base0C #0AAEB3
set $base0D #2C78BF
set $base0E #E02C6D
set $base0F #2BE4D0
