## Base16 srcery
# Scheme author: 
# Template author: Tinted Theming (https://github.com/tinted-theming)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #1C1B19
set $base01 #98BC37
set $base02 #FED06E
set $base03 #918175
set $base04 #68A8E4
set $base05 #BAA67F
set $base06 #FF5C8F
set $base07 #FCE8C3
set $base08 #EF2F27
set $base09 #FF5F00
set $base0A #FBB829
set $base0B #519F50
set $base0C #0AAEB3
set $base0D #2C78BF
set $base0E #E02C6D
set $base0F #2BE4D0

# Basic bar configuration using the Base16 variables.
bar {
    status_command i3status

    colors {
        background $base00
        separator  $base01
        statusline $base04

        # State             Border  BG      Text
        focused_workspace   $base05 $base0D $base00
        active_workspace    $base05 $base03 $base00
        inactive_workspace  $base03 $base01 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0C
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07
