# Base16 DanQing Light
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

set default-bg                  "#fcfefd"
set default-fg                  "#ecf6f2"

set statusbar-fg                "#9da8a3"
set statusbar-bg                "#e0f0eF"

set inputbar-bg                 "#fcfefd"
set inputbar-fg                 "#2d302f"

set notification-bg             "#fcfefd"
set notification-fg             "#2d302f"

set notification-error-bg       "#fcfefd"
set notification-error-fg       "#F9906F"

set notification-warning-bg     "#fcfefd"
set notification-warning-fg     "#F9906F"

set highlight-color             "#F0C239"
set highlight-active-color      "#B0A4E3"

set completion-bg               "#ecf6f2"
set completion-fg               "#B0A4E3"

set completion-highlight-fg     "#2d302f"
set completion-highlight-bg     "#B0A4E3"

set recolor-lightcolor          "#fcfefd"
set recolor-darkcolor           "#434846"

set recolor                     "false"
set recolor-keephue             "false"
