# Base16 Vice Alt
# Author: Thomas Leon Highbaugh

set default-bg                  "#1c1c1c"
set default-fg                  "#282828"

set statusbar-fg                "#3c3c3c"
set statusbar-bg                "#2c2c2c"

set inputbar-bg                 "#1c1c1c"
set inputbar-fg                 "#d1d1d1"

set notification-bg             "#1c1c1c"
set notification-fg             "#d1d1d1"

set notification-error-bg       "#1c1c1c"
set notification-error-fg       "#ff3d81"

set notification-warning-bg     "#1c1c1c"
set notification-warning-fg     "#ff3d81"

set highlight-color             "#ffff73"
set highlight-active-color      "#2fb1d4"

set completion-bg               "#282828"
set completion-fg               "#2fb1d4"

set completion-highlight-fg     "#d1d1d1"
set completion-highlight-bg     "#2fb1d4"

set recolor-lightcolor          "#1c1c1c"
set recolor-darkcolor           "#b6b6b6"

set recolor                     "false"
set recolor-keephue             "false"
