# Base16 Spaceduck
# Author: Guillermo Rodriguez (pineapplegiant)

set default-bg                  "#000000"
set default-fg                  "#5ccc96"

set statusbar-fg                "#00a3cc"
set statusbar-bg                "#b3a1e6"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#f0f1ce"

set notification-bg             "#000000"
set notification-fg             "#f0f1ce"

set notification-error-bg       "#000000"
set notification-error-fg       "#e33400"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#e33400"

set highlight-color             "#b3a1e6"
set highlight-active-color      "#00a3cc"

set completion-bg               "#5ccc96"
set completion-fg               "#00a3cc"

set completion-highlight-fg     "#f0f1ce"
set completion-highlight-bg     "#00a3cc"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#f2ce00"

set recolor                     "false"
set recolor-keephue             "false"
